#compiler-picker-modal.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Compilers
        button.close(type="button" data-dismiss="modal" aria-hidden="true" aria-label="Close")
          span(aria-hidden="true")
            | &times;
      .modal-body
        .card
          .card-body
            .container
              .row
                .col-lg
                  div.filters Filter:
                    input.compiler-search(value="" placeholder="🔍 Search for a compiler...")
              .row
                .col-lg
                  div.filters
                    span.label Instruction Sets:
                    span.architectures
              .row
                .col-lg
                  div.filters
                    span.label Categories:
                    span.compiler-types
              .row
                .compilers-col.col-md
                  h6 Results
                  .row.compilers-row
                    .col-md
                      .compilers
                    .col-md
                      .favorites
