#enter-something.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Enter something here
        button.btn-close(type="button" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close")
      .modal-body
        .mb-3
          label.form-label.question
          input.form-control.question-answer
      .modal-footer
        button.btn.btn-light.no(type="button" data-bs-dismiss="modal") Cancel
        button.btn.btn-light.yes(type="button" data-bs-dismiss="modal") Ok
