#history.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title History
        button.close(type="button" data-dismiss="modal" aria-hidden="true" aria-label="Close")
          span(aria-hidden="true")
            | &times;
      .modal-body
        .card
          .card-body
            .d-flex
              div.list-content#load-history(style="height:600px;overflow-y:scroll;flex:1")
                ul.historiccode(style="list-style-type: none;")
                  li.template
                    input.preview(type="radio" name="preview" style="margin-right: 10px;")
                    a(href="javascript:;")
              div.src-content#load-history-src-display(style="height:600px;overflow-y:scroll;flex:2")
                div.monaco-placeholder
      .modal-footer
        button.btn.btn-outline-primary(type="button" data-dismiss="modal") Close
