#load-save.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg(style="max-width: unset")
    .modal-content(style="max-width: unset")
      .modal-header
        h5.modal-title Load and save editor text
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        .card
          .card-header
            ul.nav.nav-tabs.card-header-tabs(role="tablist")
              li.nav-item(role="presentation"): a.nav-link.active(href="#load-examples" role="tab" data-bs-toggle="tab") Examples
              li.nav-item(role="presentation"): a.nav-link(href="#load-browser-local" role="tab" data-bs-toggle="tab") Browser-local storage
              li.nav-item(role="presentation"): a.nav-link(href="#load-browser-local-history" role="tab" data-bs-toggle="tab") Browser-local history
              li.nav-item(role="presentation"): a.nav-link(href="#load-file-system" role="tab" data-bs-toggle="tab") File system
          .card-body.tab-content
            #load-examples.tab-pane.active(role="tabpanel")
              h4.card-title Load from examples:
              ul.examples.small-v-scrollable
                li.template: a.link-primary
            #load-browser-local.tab-pane(role="tabpanel")
              h4.card-title Load from browser-local storage:
              ul.local-storage.small-v-scrollable
                li.template
                  a.me-3.link-primary
                  button.overwrite.btn.btn-sm.btn-light.me-1
                    span.fa.fa-edit.me-1
                    | Overwrite
                  button.delete.btn.btn-sm.btn-light
                    span.fa.fa-trash.me-1
                    | Delete
              .input-group.mb-3
                input.form-control.save-name(type="text" placeholder="Set name of state")
                button.btn.btn-outline-secondary.save-button(type="button") Save to browser-local storage
            #load-browser-local-history.tab-pane(role="tabpanel")
              h4.card-title Load from browser-local history:
              ul.local-history.small-v-scrollable
                li.template: a.link-primary
            #load-file-system.tab-pane(role="tabpanel")
              h4.card-title Load/save to your system
              .mb-3
                label.form-label Load from a local file
                input.form-control.local-file(type="file")
              .mb-3
                button.btn.btn-outline-secondary.save-file(type="button") Save to file
      .modal-footer
        button.btn.btn-outline-primary(type="button" data-bs-dismiss="modal" aria-label="Close") Close
