#sharelinkdialog.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Share
        button.close(type="button" data-dismiss="modal" aria-hidden="true" aria-label="Close")
          span(aria-hidden="true")
            | &times;
      .modal-body
        .card
          .card-body
            .container
              .input-group
                input.form-control.permalink(type="text" placeholder="Loading" readonly size="1024")
                .input-group-append
                  button.btn.btn-outline-secondary.clippy(type="button" data-clipboard-target="#sharelinkdialog .permalink" title="Copy to clipboard")
                    span.fa.fa-clipboard
              #embedsettings.form-group(role="group")
                .checkbox
                  label
                    input.readOnly(type="checkbox")
                    | Read Only
                .checkbox
                  label
                    input.hideEditorToolbars(type="checkbox")
                    | Hide Editor Toolbars
              if sharingEnabled
                .socialsharing.mt-2
