#simplecook.gl_keep(tabindex="-1" role="dialog" style="display:none")
  .message
    .btn-group.btn-group-sm
      button.btn.btn-light.btn-sm.cookies(title="Read cookie policy" aria-label="Read new cookie policy")
        span.fas.fa-info-circle
        | &nbsp;Read the new cookie policy
      p.new-cookie-msg Compiler Explorer uses cookies and other related techs to serve you
    .btn-group.btn-group-sm(role="group" aria-label="Consent options" style="float:right")
      button.btn.btn-secondary.btn-sm.cook-dont-consent(title="Do not consent cookie policy" aria-label="Oppose cookie policy")
        span.fas.fa-thumbs-down
        | &nbsp;Don't consent
      button.btn.btn-primary.btn-sm.cook-do-consent(title="Consent cookie policy" aria-label="Consent cookie policy")
        span.fas.fa-thumbs-up
        | &nbsp;Consent
