#site-template-loader.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Load Site Template
        button.close(type="button" data-dismiss="modal" aria-hidden="true" aria-label="Close")
          span(aria-hidden="true")
            | &times;
      .modal-body
        .container
          .row(id="site-template-modal-row")
            .site-templates-list-col
              h5 Templates
              ul#site-templates-list
                li Loading.....
            .site-templates-list-col
              h5 User Templates
              div#add-user-template Save Current State
              ul#site-user-templates-list
                li &lt;Empty&gt;
            .site-template-preview-col
              h5 Preview
              <img id="site-template-preview" src=""/>
