#timing-info.modal.fade.gl_keep(tabindex="-1" role="dialog")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title Timing
        button.btn-close(type="button" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close")
      .modal-body
        #chart
      .modal-footer
        button.btn.btn-outline-primary(type="button" data-bs-dismiss="modal") Close
