{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.22",
                "targets": "> 0.25%, not dead"
            }
        ]
    ]
}
