*.swp
/node_modules
newrelic_agent.log
/.npm-updated
/.yarn-updated
/.node-bin
/.yarn-bin
*.vscode
/out
*.heapsnapshot
etc/config/*.local.properties
.travis-compilers
/nbproject
/package-lock.json
*.bundle*.js
*.map
static/dist
static/vs
lib/storage/data
f.out
