docs/*  linguist-documentation
*.s linguist-generated
*.asm linguist-generated
lib/handlers/asm-docs-amd64.ts linguist-generated
lib/handlers/asm-docs-arm32.ts linguist-generated
test/*-cases/* linguist-generated
