docs/*  linguist-documentation
*.s linguist-generated
*.asm linguist-generated
lib/asm-docs/generated/asm-docs-amd64.js linguist-generated
lib/asm-docs/generated/asm-docs-arm32.js linguist-generated
lib/asm-docs/generated/asm-docs-java.js linguist-generated
test/*-cases/* linguist-generated
