*.swp
/node_modules
newrelic_agent.log
/.npm-updated
*.vscode
/out
*.heapsnapshot
etc/config/*.local.properties
.travis-compilers
/nbproject
/package-lock.json
*.bundle*.js
*.map
static/dist
static/vs