# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @mattgodbolt

# rabsrincon
static/conformance-view.js @RabsRincon
static/cppp-mode.js @RabsRincon
static/themes.js @RabsRincon
static/editor.js @RabsRincon
static/compiler.js @RabsRincon
lib/asm-docs.ts @RabsRincon
lib/asm-docs-api.ts @RabsRincon
lib/languages.ts @RabsRincon
lib/base-compiler.ts @RabsRincon
lib/compiler-finder.ts @RabsRincon
lib/compilers/ @RabsRincon
views/sitemap.pug @RabsRincon


# jaredwy
static/opt-view.js @jaredwy
lib/compilers/argument-parsers.ts @jaredwy

# tartanllama
static/ast-view.js @TartanLlama
static/haskell-mode.js @TartanLlama
lib/compilers/haskell.ts @TartanLlama

# cppchedy
static/cfg-view.js @cppchedy
lib/cfg.ts @cppchedy
