doctype html
html(lang="en")
    head
        include head.pug
    body.embedded
        a.float-link.link(href="/" target="_blank")
            | Edit on
            span.lanugage-name
            | Compiler Explorer
            span.glyphicon.glyphicon-new-window
            br

        #root

        include templates.pug
