doctype html
html(lang="en")
  head
    base(href=httpRoot)
    include monaco.pug
    include head.pug
  body.embedded
    a.float-link.link(href="/" target="_blank")
      | Edit on #{language} Compiler Explorer
      span.fas.fa-external-link-alt
      br

    #root

    include templates.pug
