.btn-group.btn-group-sm.dropdown
	button.btn.btn-default.btn-sm(title="Change font size", data-toggle="dropdown")
		span.glyphicon.glyphicon-sm.glyphicon-font
		span.caret
	ul.dropdown-menu.font-size-list
