.btn-group.btn-group-sm(role="group" aria-label="Font size")
  button.dropdown-toggle.btn.btn-light.fs-button(type="button" title="Change font size" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false" data-boundary="viewport")
    span.fa.fa-font #[b.caret]
  .dropdown-menu.font-size-list(aria-labelledby="fs-button")
