.btn-group.btn-group-sm
  button.btn.btn-default.btn-sm.decrease-font-size(title="Decrease font size")
    span.glyphicon.glyphicon-sm.glyphicon-font
  button.btn.btn-default.btn-sm.reset-font-size(title="Reset font size")
    span.glyphicon.glyphicon-sm.glyphicon-font
  button.btn.btn-default.btn-sm.increase-font-size(title="Increase font size")
    span.glyphicon.glyphicon-sm.glyphicon-font
