.btn-group.btn-group-sm.dropdown
  button.btn.btn-godbolt.dropdown-toggle.btn-sm.fs-button(title="Change font size", data-toggle="dropdown")
    span.glyphicon.glyphicon-sm.glyphicon-font #[b.caret]
  ul.dropdown-menu.font-size-list
