.btn-group.btn-group-sm(role="group" aria-label="Font size")
  button.dropdown-toggle.btn.btn-light.fs-button(type="button" title="Change font size\nTip #1: You can use scroll wheel while hovering over this button\nTip #2: You can ctrl+click this button to reset to default" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-flip="false" data-bs-boundary="viewport")
    span.fa.fa-font
  .dropdown-menu.font-size-list(aria-labelledby="fs-button")
