a.navbar-brand(href=httpRoot title="Compiler Explorer", style="position: relative")
  img(src=staticRoot + "site-logo.svg" alt="Compiler Explorer logo" height="50" width="165")
  if logoOverlayFilename
    img(src=staticRoot + logoOverlayFilename alt="" aria-hidden="true" height="50" width="165" style="position: absolute; top: 0; right: 0;")
