a.dropdown-item(href="https://www.patreon.com/bePatron?u=3691963" title="Help Compiler Explorer - become a Patron" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-patreon
    | Become a Patron
    | &nbsp;
a.dropdown-item(href="https://github.com/sponsors/mattgodbolt" title="Help Compiler Explorer - sponsor on GitHub" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github-alt
    | Sponsor on GitHub
    | &nbsp;
a.dropdown-item(href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=KQWQZ7GPY2GZ6&item_name=Compiler+Explorer+development&currency_code=USD&source=url" title="Make a one-time donation to help fund Compiler Explorer's development" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-paypal
    | Donate via PayPal
    | &nbsp;
if githubEnabled
  a.dropdown-item(href="https://github.com/compiler-explorer/compiler-explorer" title="View the source on GitHub" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Source on GitHub
    | &nbsp;
a.dropdown-item(href="https://groups.google.com/forum/#!forum/compiler-explorer-discussion" title="Join Compiler Explorer Public Google Group" target="_blank" rel="noopener")
    span.dropdown-icon.fas.fa-envelope
    | Mailing list
    | &nbsp;
a.dropdown-item(href="https://godbolt.org/admin/libraries.html" target="_blank" rel="noopener")
    span.dropdown-icon.fas.fa-book
    | Installed libraries
    | &nbsp;
a.dropdown-item(href="https://github.com/compiler-explorer/compiler-explorer/wiki" target="_blank" rel="noopener")
    span.dropdown-icon.fas.fa-book-open
    | Wiki
    | &nbsp;
a.dropdown-item(href="https://github.com/compiler-explorer/compiler-explorer/issues" target="_blank" rel="noopener")
    span.dropdown-icon.fas.fa-exclamation-circle
    | Report an issue
    | &nbsp;
a.dropdown-item(href="https://xania.org/201609/how-compiler-explorer-runs-on-amazon" target="_blank")
    span.dropdown-icon.fas.fa-cloud-meatball
    | How it works
    | &nbsp;
a.dropdown-item(href="mailto:matt@godbolt.org" target="_blank" rel="noopener noreferrer")
    span.dropdown-icon.fas.fa-paper-plane
    | Contact the author
    | &nbsp;
a.dropdown-item(href="https://xania.org/MattGodbolt" rel="author" target="_blank")
    span.dropdown-icon.fas.fa-address-card
    | About the author
    | &nbsp;
button.dropdown-item.btn#changes
    span.dropdown-icon.fas.fa-sticky-note
    | Changelog
    | &nbsp;
// Href is set dynamically when the site loads
a.dropdown-item#version-tree(target="_blank")
    span.dropdown-icon.fas.fa-code-branch
    | Version tree
    | &nbsp;
if sharingEnabled
    a.dropdown-item#socialshare
