a.dropdown-item(href="https://github.com/chinmaygarde/impeller-compiler-explorer/wiki" title="Cheat-Sheet And Wiki" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Cheat-Sheet And Wiki
    | &nbsp;
a.dropdown-item(href="https://github.com/chinmaygarde/impeller-compiler-explorer/issues" title="File A Bug" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | File A Bug
    | &nbsp;
a.dropdown-item(href="https://github.com/flutter/engine/blob/main/impeller/README.md#the-offline-shader-compilation-pipeline" title="Learn How The Compiler Works" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Learn How The Compiler Works
    | &nbsp;
a.dropdown-item(href="https://github.com/flutter/engine/tree/main/impeller/compiler" title="Browse Compiler Code" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Browse Compiler Code
    | &nbsp;
