a.dropdown-item(href="https://github.com/chinmaygarde/impeller-compiler-explorer/wiki" title="Cheat-Sheet And Wiki" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Cheat-Sheet And Wiki
    | &nbsp;
a.dropdown-item(href="https://github.com/flutter/flutter/issues/new" title="File A Compiler Bug" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | File A Compiler Bug
    | &nbsp;
a.dropdown-item(href="https://github.com/chinmaygarde/impeller-compiler-explorer/issues" title="File An Explorer Bug" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | File An Explorer Bug
    | &nbsp;
a.dropdown-item(href="https://github.com/flutter/engine/blob/main/impeller/README.md#the-offline-shader-compilation-pipeline" title="Learn How The Compiler Works" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Learn How The Compiler Works
    | &nbsp;
a.dropdown-item(href="https://github.com/flutter/engine/tree/main/impeller/compiler" title="Browse Compiler Code" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Browse Compiler Code
    | &nbsp;
a.dropdown-item(href="https://developer.apple.com/metal/Metal-Shading-Language-Specification.pdf" title="Metal Shading Language Specification" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Metal Shading Language Specification
    | &nbsp;
a.dropdown-item(href="https://registry.khronos.org/SPIR-V/specs/unified1/SPIRV.html" title="SPIRV Specification" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | SPIRV Specification
    | &nbsp;
a.dropdown-item(href="https://developer.android.com/develop/ui/views/graphics/agsl/agsl-quick-reference" title="SKSL (Android GSL) Quick Reference" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | SKSL (Android GSL) Quick Reference
    | &nbsp;
a.dropdown-item(href="https://registry.khronos.org/OpenGL/specs/gl/GLSLangSpec.4.60.pdf" title="OpenGL SL Specification (4.60.7)" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | OpenGL Shading Language Specification (4.60.7)
    | &nbsp;
a.dropdown-item(href="https://www.khronos.org/files/opengles_shading_language.pdf" title="OpenGL ES Shading Language Specification (1.00)" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | OpenGL ES Shading Language Specification (1.00)
    | &nbsp;
