a.dropdown-item(href="https://github.com/chinmaygarde/impeller-compiler-explorer/wiki" title="Check out the Wiki" target="_blank" rel="noopener")
    span.dropdown-icon.fab.fa-github
    | Check out the Wiki
    | &nbsp;

