a.dropdown-item#cookies(href="javascript:;")
  span.dropdown-icon.fas.fa-cookie-bite
  | Cookie policy
a.dropdown-item#privacy(href="javascript:;")
  span.dropdown-icon.fas.fa-user-lock
  | Privacy policy
