a.justify-content-between.align-items-center.dropdown-item#cookies(href="javascript:;")
  span.dropdown-icon.fas.fa-cookie-bite
  | Cookie policy&nbsp;
  span#cookiesBellNotification.d-none.badge.badge-pill.badge-primary
    span.fa.fa-bell
a.justify-content-between.align-items-center.dropdown-item#privacy(href="javascript:;")
  span.dropdown-icon.fas.fa-user-lock
  | Privacy policy&nbsp;
  span#privacyBellNotification.d-none.badge.badge-pill.badge-primary
    span.fa.fa-bell
