a.dropdown-item#cookies(href="javascript:;")
  span.dropdown-icon.fas.fa-cookie-bite
  | Cookie policy
  span#cookiesBellNotification.d-none.badge.badge-pill.badge-primary
    span.fa.fa-bell
a.dropdown-item#privacy(href="javascript:;")
  span.dropdown-icon.fas.fa-user-lock
  | Privacy policy
  span#privacyBellNotification.d-none.badge.badge-pill.badge-primary
    span.fa.fa-bell
