link(rel="icon" href="favicon.ico?v=1")
meta(charset="utf-8")
- var userScalable = mobileViewer ? "yes" : "no"
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=" + userScalable + ", shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title Compiler Explorer
if metadata
  meta(property="og:title" content=metadata.ogTitle)
  if metadata.ogDescription
    meta(name="description" content=metadata.ogDescription)
    meta(property="og:description" content=metadata.ogDescription)
  else
    meta(name="description" content="Compiler Explorer is an interactive online compiler which shows the assembly output of compiled C++, Rust, Go (and many more) code.")
    meta(property="og:description" content="Compiler Explorer is an interactive online compiler which shows the assembly output of compiled C++, Rust, Go (and many more) code.")
else
  meta(name="description" content="Compiler Explorer is an interactive online compiler which shows the assembly output of compiled C++, Rust, Go (and many more) code.")
  meta(property="og:title" content="Compiler Explorer")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@CompileExplore")
meta(property="og:image" content="https://github.com/compiler-explorer/infra/blob/master/logo/favicon.png?raw=true")
meta(property="og:image:secure_url" content="https://github.com/compiler-explorer/infra/blob/master/logo/favicon.png?raw=true")
meta(property="og:image:type" content="image/png")
meta(property="og:image:width" content="145")
meta(property="og:image:height" content="145")
meta(name="author" content="Matt Godbolt")
meta(name="google" content="nositelinkssearchbox")
meta(name="google" content="notranslate")
meta(id="meta-theme" name="theme-color" content="#f2f2f2")
