block header
  nav.navbar.navbar-godbolt.navbar-expand-md.navbar-light.bg-light
    ul.navbar-nav.navbar-right
      each language in languages
        li
          a.dropdown-item(href='/noscript/'+language.id title=language.name)= language.name
          span &nbsp;
