doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  url
    loc
      | https://godbolt.org
    priority
      | 0.8
  url
    loc
      | https://gcc.godbolt.org
  url
    loc
      | https://rust.godbolt.org
  url
    loc
      | https://d.godbolt.org
  url
    loc
      | https://go.godbolt.org
  url
    loc
      | https://cppx.godbolt.org
  url
    loc
      | https://ispc.godbolt.org
  url
    loc
      | https://haskell.godbolt.org
