.gl_keep.template
  #codeEditor
    .top-bar.btn-toolbar(role="toolbar")
      include font-size.pug
      .btn-group.btn-group-sm
        button.btn.btn-default.btn-sm.load-save(title="Load or save text")
          span.glyphicon.glyphicon-floppy-disk
      if !embedded
        .btn-group.btn-group-sm
          button.btn.btn-default.btn-sm.add-compiler(title="Add a new compiler for this source (click or drag)")
            span.glyphicon.glyphicon-open
          button.btn.btn-default.btn-sm.conformance(title="Add a new conformance view")
            span.glyphicon.glyphicon-list-alt
    .monaco-placeholder

  #compiler
    .top-bar.btn-toolbar(role="toolbar")
      table
        tr
          td: select.compiler-picker(placeholder="Select a compiler...")
          td: input.options.form-control(type="text" placeholder="Compiler options..." size="256")
      if !embedded
        include font-size.pug
      div.btn-group.btn-group-sm.filters(data-toggle="buttons")
        // TODO store these in the app and drive from there?
        // Make a dropdown? With more options?
        button.btn.btn-sm(title="Compile to binary and disassemble the output" data-bind="binary")
          span 11010
        button.btn.btn-sm(title="Execute the binary" data-bind="execute")
          span ./a.out
        button.btn.btn-sm.active.nonbinary(title="Filter unused labels from the output" data-bind="labels")
          span .LX0:
        button.btn.btn-sm.active.nonbinary(title="Filter all assembler directives from the output" data-bind="directives")
          span .text
        button.btn.btn-sm.active.nonbinary(title="Remove all lines which are only comments from the output" data-bind="commentOnly")
          span //
        button.btn.btn-sm.active(title="Trim intra-line whitespace" data-bind="trim")
          span \s+
        button.btn.btn-sm.active(title="Output disassembly in Intel syntax" data-bind="intel")
          span Intel
        button.btn.btn-sm.active(title="Demangle output" data-bind="demangle")
          span Demangle
        if embedded
          include font-size.pug
      .btn-group.btn-group-sm
        button.btn.btn-default.btn-sm.show-libs
          span.glyphicon.glyphicon-book(title="Include libs")
      if !embedded
        .btn-group.btn-group-sm
          button.btn.btn-default.btn-sm.add-compiler(title="Clone this compiler window (click or drag)")
            span.glyphicon.glyphicon-new-window
          button.btn.btn-default.btn-sm.view-optimization(title="Show optimization output (Clang only)" disabled=true)
            span.glyphicon.glyphicon-scale
          button.btn.btn-default.btn-sm.view-ast(title="Show AST output (Clang only)")
            span.glyphicon.glyphicon-tree-deciduous
          button.btn.btn-default.btn-sm.view-gccdump(title="Show Tree/RTL dump (GCC only)")
            span.glyphicon.glyphicon-tree-conifer
          button.btn.btn-default.btn-sm.view-cfg(title="Show Graph Output")
            span.glyphicon.glyphicon-lamp
    .monaco-placeholder
    .bottom-bar
      if !embedded
        .btn-group.btn-group-sm
          button: span.glyphicon.glyphicon-alert.status
        span.full-compiler-name
        span.compile-time
        button.btn.btn-default.btn-sm.clear-cache(title="Clear cache & recompile")
          span.glyphicon.glyphicon-refresh

  #compiler-output
    pre.content

  #diff
    .top-bar.tn-toolbar(role="toolbar")
      table
        tr
          td(style="padding-right: 1em")
            include font-size.pug
          td: select.diff-picker.lhs(placeholder="Select compiler output...")
          td: select.diff-picker.rhs(placeholder="Select compiler output...")
    .monaco-placeholder

  #opt
    .top-bar.btn-toolbar(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #ast
    .top-bar.btn-toolbar(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #gccdump
    .top-bar.btn-toolbar(role="toolbar")
      table
        tr
          td(style="padding-right: 1em")
            include font-size.pug
          td: div Pass filters:
          td: div.btn-group.btn-group-sm.dump-filters(data-toggle="buttons")
            button.btn.btn-sm.active(title="Tree" data-bind="treeDump")
              span Tree
            button.btn.btn-sm.active(title="RTL" data-bind="rtlDump")
              span RTL
        tr
          td: div
          td: div Pass dump to display:
          td: select.gccdump-pass-picker(placeholder="Select a pass...")

    .monaco-placeholder

  #cfg
    .top-bar.btn-toolbar.cfg-toolbar(role="toolbar")
      table
        tr
          td: select.function-picker
          td: button.btn.btn-default.btn-sm.show-hide-btn
            span.glyphicon.glyphicon-unchecked
    div.graph-placeholder

  #conformance
    .top-bar.tn-toolbar(role="toolbar")
      .btn-group.btn-group-sm
        button.btn.btn-default.btn-sm.add-compiler(title="Add compiler")
          span.glyphicon.glyphicon-plus-sign
    .conformance-wrapper
      table.compiler-list

  #compiler-selector
    table
      tr.compiler-row
        td
          span.status.glyphicon.glyphicon-signal
        td
          select.compiler-picker(placeholder="Select a compiler...")
        td
          input.options.form-control(type="text" size="256" placeholder="Compiler options...")
        td
          button.close(aria-label="Close")
            span(aria-hidden="true")
              | &times;
