#cfg
  .top-bar.btn-toolbar.bg-light.cfg-toolbar(role="toolbar")
    .btn-group.btn-group-sm(role="group")
      select.function-selector
  .graph-container
    span.cfg-info
    .graph
      svg
      .block-container
