#cfg
  .top-bar.btn-toolbar.bg-light.cfg-toolbar(role="toolbar")
    .btn-group.btn-group-sm(role="group")
      select.function-picker
  .graph-container
    .graph
      canvas
      .block-container
