#conformance
  .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
    .btn-group.btn-group-sm(role="group")
      button.btn.btn-sm.btn-light.add-compiler(title="Add compiler")
        span.fas.fa-plus
        span.hideable Add compiler
      button.btn.btn-sm.btn-light.show-libs.dropdown-toggle(title="Include libs" aria-label="Toggle libraries dropdown" aria-pressed="false" aria-haspopup="true")
        span.fas.fa-book
        span.dp-text.hideable Libraries
  .conformance-wrapper
    table.compiler-list
