#device
  .top-bar.btn-toolbar.bg-light(role="toolbar")
    include ../../font-size
    .btn-group.btn-group-sm(role="group")
      select.change-device(placeholder="Select a device...")
  .monaco-placeholder
