#diff
  .top-bar.btn-toolbar.bg-light(role="toolbar")
    include ../../font-size
    .btn-group.btn-group-sm
      .input-group.input-group-sm.mb-auto
        .input-group-prepend
          label.input-group-text
            | Left:&nbsp;
        select.diff-picker.lhs(placeholder="Select compiler...")
        select.difftype-picker.lhsdifftype(placeholder="...")
    .btn-group.btn-group-sm.ml-4
      .input-group.input-group-sm.mb-auto
        .input-group-prepend
          label.input-group-text
            | Right:&nbsp;
        select.diff-picker.rhs(placeholder="Select compiler...")
        select.difftype-picker.rhsdifftype(placeholder="...")
  .monaco-placeholder
