#diff
  .top-bar.btn-toolbar.bg-light.py-1.d-flex.align-items-center(role="toolbar")
    include ../../font-size
    .btn-group.btn-group-sm.flex-grow-1.me-2
      .input-group.input-group-sm.w-100
        label.input-group-text
          | Left:&nbsp;
        select.diff-picker.lhs(placeholder="Select compiler...")
        select.difftype-picker.lhsdifftype(placeholder="...")
    .btn-group.btn-group-sm.flex-grow-1
      .input-group.input-group-sm.w-100
        label.input-group-text
          | Right:&nbsp;
        select.diff-picker.rhs(placeholder="Select compiler...")
        select.difftype-picker.rhsdifftype(placeholder="...")
  .monaco-placeholder
