#compiler-selector
  .row
    .input-group
      select.compiler-picker
      button.btn.btn-sm.btn-light.input-group-text.picker-popout-button(data-trigger="click" style="cursor: pointer;" role="button" title="Compiler picker popout")
        span
          i.fa-solid.fa-arrow-up-right-from-square
      button.btn.btn-sm.btn-light.input-group-text.prepend-options(tabindex="0" data-trigger="focus" style="cursor: pointer;" role="button" title="All compilation options")
        span.btn.btn-sm.btn-light.status-icon
      input.conformance-options.form-control(type="text" placeholder="Compiler options..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
      div.badge.align-content-center.d-none.compiler-out.compiler-selector-icon(style="cursor: help;" title="This compiler has generated some output. Open its associated pane to read it.")
        div.fas.fa-receipt
      button.btn.btn-sm.fas.fa-times.close-compiler.compiler-selector-icon(aria-label="Close" title="Close")
      button.btn.btn-sm.fas.fa-share.extract-compiler.compiler-selector-icon(aria-label="Pop compiler" title="Show compiler")
      button.btn.btn-sm.fas.fa-copy.copy-compiler.compiler-selector-icon(aria-label="Copy compiler" title="Copy compiler")
