#lib-search-result-tpl
  .card
    .card-header
      span
        b.lib-name &nbsp;
      span.lib-version
        select.custom-select.custom-select-sm.lib-version-select
          option -
    .card-body
      p.lib-description &nbsp;
      .lib-examples
      div
        span.lib-website
          a.lib-website-link(href='#' target='_blank' rel='noopener') Website
        span.lib-fav
          button.btn.btn-sm.lib-fav-button
            span.lib-fav-btn-icon.far.fa-star
