#libs-dropdown
  .no-libs
    p No libs configured for this language yet.
    a(target="_blank" rel="noopener noreferrer" href="https://github.com/compiler-explorer/compiler-explorer/issues/new?assignees=&labels=request%2Cnew-libs&template=library_request.md&title=%5BLIB+REQUEST%5D+INSERT+LIB+NAME+HERE")
      | You can suggest us one at any time&nbsp;
      sup.fas.fa-external-link-alt.opens-new-window(title="Opens in a new window")
