#possible-override
  .card
    .card-header
      span.override-name
      span.override
        select.custom-select.custom-select-sm
    .card-body
      p.override-description
      span.override-fav
        button.btn.btn-sm.override-fav-button
          span.override-fav-btn-icon.far.fa-star
