#possible-runtime-tool
  .card
    .card-header
      span.tool-name
    .card-body
      p.tool-description
      span.tool-fav
        button.btn.btn-sm.tool-fav-button
          span.tool-fav-btn-icon.far.fa-star
      .tool-options

#possible-runtime-tool-option
  .runtime-tool-option
    span.tool-option-name
    span.tool-option-select
      select.tool-option-select.custom-select-sm
