#possible-override
    .card
        .card-header
            span.override-name
            span.override
                select.custom-select.custom-select-sm
        .card-body
            span.override-description
