#tree-editor-tpl
  li.list-group-item.tree-editor-file.input-group-append
    span.filename someresource.txt
    button.btn.delete-file.fa.fa-trash(title="Remove this file" aria-label="Delete")
    button.btn.rename-file.fa.fa-tag(title="Rename this file" aria-label="Rename")
    button.btn.stage-file.fa.fa-plus(title="Include this file in the build" aria-label="Include")
    button.btn.unstage-file.fa.fa-minus(title="Exclude this file from the build" aria-label="Exclude")
