<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>BLENDPD — Blend Packed Double Precision Floating-Point Values </title></head>
<body>
<h1>BLENDPD — Blend Packed Double Precision Floating-Point Values</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32-bit Mode</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>66 0F 3A 0D /r ib</p>
<p>BLENDPD <em>xmm1</em>, <em>xmm2/m128, imm8</em></p></td>
<td>RMI</td>
<td>V/V</td>
<td>SSE4_1</td>
<td>Select packed DP-FP values from <em>xmm1</em> and <em>xmm2/m128</em> from mask specified in imm8 and store the values into <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F3A.WIG 0D /r ib</p>
<p>VBLENDPD xmm1, xmm2, xmm3/m128, imm8</p></td>
<td>RVMI</td>
<td>V/V</td>
<td>AVX</td>
<td>Select packed double-precision floating-point Values from xmm2 and xmm3/m128 from mask in imm8 and store the values in xmm1.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F3A.WIG 0D /r ib</p>
<p>VBLENDPD ymm1, ymm2, ymm3/m256, imm8</p></td>
<td>RVMI</td>
<td>V/V</td>
<td>AVX</td>
<td>Select packed double-precision floating-point Values from ymm2 and ymm3/m256 from mask in imm8 and store the values in ymm1.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RMI</td>
<td>ModRM:reg (r, w)</td>
<td>ModRM:r/m (r)</td>
<td>imm8</td>
<td>NA</td></tr>
<tr>
<td>RVMI</td>
<td>ModRM:reg (w)</td>
<td>VEX.vvvv (r)</td>
<td>ModRM:r/m (r)</td>
<td>imm8[3:0]</td></tr></table>
<h2>Description</h2>
<p>Double-precision floating-point values from the second source operand (third operand) are conditionally merged with values from the first source operand (second operand) and written to the destination operand (first operand). The immediate bits [3:0] determine whether the corresponding double-precision floating-point value in the desti-nation is copied from the second source or first source. If a bit in the mask, corresponding to a word, is “1", then the double-precision floating-point value in the second source operand is copied, else the value in the first source operand is copied.</p>
<p>128-bit Legacy SSE version: The second source can be an XMM register or an 128-bit memory location. The desti-nation is not distinct from the first source XMM register and the upper bits (VLMAX-1:128) of the corresponding YMM register destination are unmodified.</p>
<p>VEX.128 encoded version: the first source operand is an XMM register. The second source operand is an XMM register or 128-bit memory location. The destination operand is an XMM register. The upper bits (VLMAX-1:128) of the corresponding YMM register destination are zeroed.</p>
<p>VEX.256 encoded version: The first source operand is a YMM register. The second source operand can be a YMM register or a 256-bit memory location. The destination operand is a YMM register.</p>
<h2>Operation</h2>
<p><strong>BLENDPD (128-bit Legacy SSE version)</strong></p>
<pre>IF (IMM8[0] = 0)THEN DEST[63:0] ← DEST[63:0]
         ELSE DEST [63:0] ← SRC[63:0] FI
IF (IMM8[1] = 0) THEN DEST[127:64] ← DEST[127:64]
         ELSE DEST [127:64] ← SRC[127:64] FI
DEST[VLMAX-1:128] (Unmodified)</pre>
<p><strong>VBLENDPD (VEX.128 encoded version)</strong></p>
<pre>IF (IMM8[0] = 0)THEN DEST[63:0] ← SRC1[63:0]
         ELSE DEST [63:0] ← SRC2[63:0] FI
IF (IMM8[1] = 0) THEN DEST[127:64] ← SRC1[127:64]
         ELSE DEST [127:64] ← SRC2[127:64] FI
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VBLENDPD (VEX.256 encoded version)</strong></p>
<pre>IF (IMM8[0] = 0)THEN DEST[63:0] ← SRC1[63:0]
         ELSE DEST [63:0] ← SRC2[63:0] FI
IF (IMM8[1] = 0) THEN DEST[127:64] ← SRC1[127:64]
         ELSE DEST [127:64] ← SRC2[127:64] FI
IF (IMM8[2] = 0) THEN DEST[191:128] ← SRC1[191:128]
         ELSE DEST [191:128] ← SRC2[191:128] FI
IF (IMM8[3] = 0) THEN DEST[255:192] ← SRC1[255:192]
         ELSE DEST [255:192] ← SRC2[255:192] FI</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>BLENDPD:</p>
<p>__m128d _mm_blend_pd (__m128d v1, __m128d v2, const int mask);</p>
<p>VBLENDPD:</p>
<p>__m256d _mm256_blend_pd (__m256d a, __m256d b, const int mask);</p>
<h2>SIMD Floating-Point Exceptions</h2>
<p>None</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 4.</p></body></html>