<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>CLC—Clear Carry Flag </title></head>
<body>
<h1>CLC—Clear Carry Flag</h1>
<table>
<tr>
<th>Opcode</th>
<th>Instruction</th>
<th>Op/En</th>
<th>64-bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>F8</td>
<td>CLC</td>
<td>NP</td>
<td>Valid</td>
<td>Valid</td>
<td>Clear CF flag.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>NP</td>
<td>NA</td>
<td>NA</td>
<td>NA</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Clears the CF flag in the EFLAGS register. Operation is the same in all modes.</p>
<h2>Operation</h2>
<pre>CF ← 0;</pre>
<h2>Flags Affected</h2>
<p>The CF flag is set to 0. The OF, ZF, SF, AF, and PF flags are unaffected.</p>
<h2>Exceptions (All Operating Modes)</h2>
<p>#UD</p>
<p>If the LOCK prefix is used.</p></body></html>