<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>FCOM/FCOMP/FCOMPP—Compare Floating Point Values </title></head>
<body>
<h1>FCOM/FCOMP/FCOMPP—Compare Floating Point Values</h1>
<table>
<tr>
<th>Opcode</th>
<th>Instruction</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>D8 /2</td>
<td>FCOM <em>m32fp</em></td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with <em>m32fp</em>.</td></tr>
<tr>
<td>DC /2</td>
<td>FCOM <em>m64fp</em></td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with <em>m64fp</em>.</td></tr>
<tr>
<td>D8 D0+i</td>
<td>FCOM ST(i)</td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with ST(i).</td></tr>
<tr>
<td>D8 D1</td>
<td>FCOM</td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with ST(1).</td></tr>
<tr>
<td>D8 /3</td>
<td>FCOMP <em>m32fp</em></td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with <em>m32fp</em> and pop register stack.</td></tr>
<tr>
<td>DC /3</td>
<td>FCOMP <em>m64fp</em></td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with m64fp and pop register stack.</td></tr>
<tr>
<td>D8 D8+i</td>
<td>FCOMP ST(i)</td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with ST(i) and pop register stack.</td></tr>
<tr>
<td>D8 D9</td>
<td>FCOMP</td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with ST(1) and pop register stack.</td></tr>
<tr>
<td>DE D9</td>
<td>FCOMPP</td>
<td>Valid</td>
<td>Valid</td>
<td>Compare ST(0) with ST(1) and pop register stack twice.</td></tr></table>
<h2>Description</h2>
<p>Compares the contents of register ST(0) and source value and sets condition code flags C0, C2, and C3 in the FPU status word according to the results (see the table below). The source operand can be a data register or a memory location. If no source operand is given, the value in ST(0) is compared with the value in ST(1). The sign of zero is ignored, so that –0.0 is equal to +0.0.</p>
<h3>Table 3-31.  FCOM/FCOMP/FCOMPP Results</h3>
<table>
<tr>
<th>Condition</th>
<th>C3</th>
<th>C2</th>
<th>C0</th></tr>
<tr>
<td>ST(0) &gt; SRC</td>
<td>0</td>
<td>0</td>
<td>0</td></tr>
<tr>
<td>ST(0) &lt; SRC</td>
<td>0</td>
<td>0</td>
<td>1</td></tr>
<tr>
<td>ST(0) = SRC</td>
<td>1</td>
<td>0</td>
<td>0</td></tr>
<tr>
<td>Unordered*</td>
<td>1</td>
<td>1</td>
<td>1</td></tr></table>
<p><strong>NOTES:</strong></p>
<p>*</p>
<p>Flags not set if unmasked invalid-arithmetic-operand (#IA) exception is generated.</p>
<p>This instruction checks the class of the numbers being compared (see “FXAM—Examine ModR/M” in this chapter). If either operand is a NaN or is in an unsupported format, an invalid-arithmetic-operand exception (#IA) is raised and, if the exception is masked, the condition flags are set to “unordered.” If the invalid-arithmetic-operand excep-tion is unmasked, the condition code flags are not set.</p>
<p>The FCOMP instruction pops the register stack following the comparison operation and the FCOMPP instruction pops the register stack twice following the comparison operation. To pop the register stack, the processor marks the ST(0) register as empty and increments the stack pointer (TOP) by 1.</p>
<p>The FCOM instructions perform the same operation as the FUCOM instructions. The only difference is how they handle QNaN operands. The FCOM instructions raise an invalid-arithmetic-operand exception (#IA) when either or both of the operands is a NaN value or is in an unsupported format. The FUCOM instructions perform the same operation as the FCOM instructions, except that they do not generate an invalid-arithmetic-operand exception for QNaNs.</p>
<p>This instruction’s operation is the same in non-64-bit modes and 64-bit mode.</p>
<h2>Operation</h2>
<pre>CASE (relation of operands) OF
    ST &gt; SRC:
                         C3, C2, C0 ← 000;
    ST &lt; SRC:
                         C3, C2, C0 ← 001;
    ST = SRC:
                         C3, C2, C0 ← 100;
ESAC;
IF ST(0) or SRC = NaN or unsupported format
    THEN
         #IA
         IF FPUControlWord.IM = 1
              THEN
                    C3, C2, C0 ← 111;
         FI;
FI;
IF Instruction = FCOMP
    THEN
         PopRegisterStack;
FI;
IF Instruction = FCOMPP
    THEN
         PopRegisterStack;
         PopRegisterStack;
FI;</pre>
<h2>FPU Flags Affected</h2>
<table class="exception-table">
<tr>
<td>C1</td>
<td>Set to 0.</td></tr>
<tr>
<td>C0, C2, C3</td>
<td>See table on previous page.</td></tr></table>
<h2>Floating-Point Exceptions</h2>
<table class="exception-table">
<tr>
<td>#IS</td>
<td>Stack underflow occurred.</td></tr>
<tr>
<td>#IA</td>
<td>
<p>One or both operands are NaN values or have unsupported formats.</p>
<p>Register is marked empty.</p></td></tr></table>
<p>#D</p>
<p>One or both operands are denormal values.</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>
<p>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</p>
<p>If the DS, ES, FS, or GS register contains a NULL segment selector.</p></td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made while the current privilege level is 3.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP</td>
<td>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</td></tr>
<tr>
<td>#SS</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Virtual-8086 Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#SS(0)</td>
<td>If a memory address referencing the SS segment is in a non-canonical form.</td></tr>
<tr>
<td>#GP(0)</td>
<td>If the memory address is in a non-canonical form.</td></tr>
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#MF</td>
<td>If there is a pending x87 FPU exception.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made while the current privilege level is 3.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table></body></html>