<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>FPATAN—Partial Arctangent </title></head>
<body>
<h1>FPATAN—Partial Arctangent</h1>
<table>
<tr>
<th>Opcode*</th>
<th>Instruction</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>D9 F3</td>
<td>FPATAN</td>
<td>Valid</td>
<td>Valid</td>
<td>Replace ST(1) with arctan(ST(1)/ST(0)) and pop the register stack.</td></tr></table>
<p>NOTES:</p>
<p>*</p>
<p>See IA-32 Architecture Compatibility section below.</p>
<h2>Description</h2>
<p>Computes the arctangent of the source operand in register ST(1) divided by the source operand in register ST(0), stores the result in ST(1), and pops the FPU register stack. The result in register ST(0) has the same sign as the source operand ST(1) and a magnitude less than +π.</p>
<p>The FPATAN instruction returns the angle between the X axis and the line from the origin to the point (X,Y), where Y (the ordinate) is ST(1) and X (the abscissa) is ST(0). The angle depends on the sign of X and Y independently, not just on the sign of the ratio Y/X. This is because a point (−X,Y) is in the second quadrant, resulting in an angle between π/2 and π, while a point (X,−Y) is in the fourth quadrant, resulting in an angle between 0 and −π/2. A point (−X,−Y) is in the third quadrant, giving an angle between −π/2 and −π.</p>
<p>The following table shows the results obtained when computing the arctangent of various classes of numbers, assuming that underflow does not occur.</p>
<h3>Table 3-40.  FPATAN Results</h3>
<table>
<tr>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
<th colspan="2">ST(0)</th>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2">− ∞</td>
<td colspan="2">− F</td>
<td colspan="2">− 0</td>
<td colspan="2">+ 0</td>
<td colspan="2">+ F</td>
<td colspan="2">+ ∞</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">− ∞</td>
<td colspan="2">− 3π/4*</td>
<td colspan="2">− π/2</td>
<td colspan="2">− π/2</td>
<td colspan="2">− π/2</td>
<td colspan="2">− π/2</td>
<td colspan="2">− π/4*</td>
<td colspan="2">NaN</td></tr>
<tr>
<th colspan="2">ST(1)</th>
<td colspan="2">− F</td>
<td colspan="2">-p</td>
<td colspan="2">−π to −π/2</td>
<td colspan="2">−π/2</td>
<td colspan="2">−π/2</td>
<td colspan="2">−π/2 to −0</td>
<td colspan="2">- 0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">− 0</td>
<td colspan="2">-p</td>
<td colspan="2">-p</td>
<td colspan="2">-p*</td>
<td colspan="2">− 0*</td>
<td colspan="2">− 0</td>
<td colspan="2">− 0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+ 0</td>
<td colspan="2">+p</td>
<td colspan="2">+ p</td>
<td colspan="2">+ π*</td>
<td colspan="2">+ 0*</td>
<td colspan="2">+ 0</td>
<td colspan="2">+ 0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+ F</td>
<td colspan="2">+p</td>
<td colspan="2">+π to +π/2</td>
<td colspan="2">+ π/2</td>
<td colspan="2">+π/2</td>
<td colspan="2">+π/2 to +0</td>
<td colspan="2">+ 0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+ ∞</td>
<td colspan="2">+3π/4*</td>
<td colspan="2">+π/2</td>
<td colspan="2">+π/2</td>
<td colspan="2">+π/2</td>
<td colspan="2">+ π/2</td>
<td colspan="2">+ π/4*</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td></tr></table>
<p><strong>NOTES:</strong></p>
<p>F Means finite floating-point value.</p>
<p>*</p>
<p>Table 8-10 in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em>, specifies that the ratios 0/0 and ∞/∞ generate the floating-point invalid arithmetic-operation exception and, if this exception is masked, the floating-point QNaN indefi-nite value is returned. With the FPATAN instruction, the 0/0 or ∞/∞ value is actually not calculated using division. Instead, the arc-tangent of the two variables is derived from a standard mathematical formulation that is generalized to allow complex numbers as arguments. In this complex variable formulation, arctangent(0,0) etc. has well defined values. These values are needed to develop a library to compute transcendental functions with complex arguments, based on the FPU functions that only allow floating-point values as arguments.</p>
<p>There is no restriction on the range of source operands that FPATAN can accept.</p>
<p>This instruction’s operation is the same in non-64-bit modes and 64-bit mode.</p>
<h2>IA-32 Architecture Compatibility</h2>
<p>The source operands for this instruction are restricted for the 80287 math coprocessor to the following range:</p>
<p>0 ≤ |ST(1)| &lt; |ST(0)| &lt; +∞</p>
<h2>Operation</h2>
<pre>ST(1) ← arctan(ST(1) / ST(0));
PopRegisterStack;</pre>
<h2>FPU Flags Affected</h2>
<table class="exception-table">
<tr>
<td>C1</td>
<td>
<p>Set to 0 if stack underflow occurred.</p>
<p>Set if result was rounded up; cleared otherwise.</p></td></tr>
<tr>
<td>C0, C2, C3</td>
<td>Undefined.</td></tr></table>
<h2>Floating-Point Exceptions</h2>
<table class="exception-table">
<tr>
<td>#IS</td>
<td>Stack underflow occurred.</td></tr>
<tr>
<td>#IA</td>
<td>Source operand is an SNaN value or unsupported format.</td></tr></table>
<p>#D</p>
<p>Source operand is a denormal value.</p>
<p>#U</p>
<p>Result is too small for destination format.</p>
<p>#P</p>
<p>Value cannot be represented exactly in destination format.</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#MF</td>
<td>If there is a pending x87 FPU exception.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>Virtual-8086 Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p></body></html>