<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>FXRSTOR—Restore x87 FPU, MMX, XMM, and MXCSR State </title></head>
<body>
<h1>FXRSTOR—Restore x87 FPU, MMX, XMM, and MXCSR State</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>
<p>0F AE /1</p>
<p>FXRSTOR <em>m512byte</em></p></td>
<td>M</td>
<td>Valid</td>
<td>Valid</td>
<td>Restore the x87 FPU, MMX, XMM, and MXCSR register state from <em>m512byte</em>.</td></tr>
<tr>
<td>
<p>REX.W+ 0F AE /1</p>
<p>FXRSTOR64 <em>m512byte</em></p></td>
<td>M</td>
<td>Valid</td>
<td>N.E.</td>
<td>Restore the x87 FPU, MMX, XMM, and MXCSR register state from <em>m512byte</em>.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>M</td>
<td>ModRM:r/m (r)</td>
<td>NA</td>
<td>NA</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Reloads the x87 FPU, MMX technology, XMM, and MXCSR registers from the 512-byte memory image specified in the source operand. This data should have been written to memory previously using the FXSAVE instruction, and in the same format as required by the operating modes. The first byte of the data should be located on a 16-byte boundary. There are three distinct layouts of the FXSAVE state map: one for legacy and compatibility mode, a second format for 64-bit mode FXSAVE/FXRSTOR with REX.W=0, and the third format is for 64-bit mode with FXSAVE64/FXRSTOR64. Table 3-53 shows the layout of the legacy/compatibility mode state information in memory and describes the fields in the memory image for the FXRSTOR and FXSAVE instructions. Table 3-56 shows the layout of the 64-bit mode state information when REX.W is set (FXSAVE64/FXRSTOR64). Table 3-57 shows the layout of the 64-bit mode state information when REX.W is clear (FXSAVE/FXRSTOR).</p>
<p>The state image referenced with an FXRSTOR instruction must have been saved using an FXSAVE instruction or be in the same format as required by Table 3-53, Table 3-56, or Table 3-57. Referencing a state image saved with an FSAVE, FNSAVE instruction or incompatible field layout will result in an incorrect state restoration.</p>
<p>The FXRSTOR instruction does not flush pending x87 FPU exceptions. To check and raise exceptions when loading x87 FPU state information with the FXRSTOR instruction, use an FWAIT instruction after the FXRSTOR instruction.</p>
<p>If the OSFXSR bit in control register CR4 is not set, the FXRSTOR instruction may not restore the states of the XMM and MXCSR registers. This behavior is implementation dependent.</p>
<p>If the MXCSR state contains an unmasked exception with a corresponding status flag also set, loading the register with the FXRSTOR instruction will not result in a SIMD floating-point error condition being generated. Only the next occurrence of this unmasked exception will result in the exception being generated.</p>
<p>Bits 16 through 32 of the MXCSR register are defined as reserved and should be set to 0. Attempting to write a 1 in any of these bits from the saved state image will result in a general protection exception (#GP) being generated.</p>
<p>Bytes 464:511 of an FXSAVE image are available for software use. FXRSTOR ignores the content of bytes 464:511 in an FXSAVE state image.</p>
<h2>Operation</h2>
<pre>(x87 FPU, MMX, XMM7-XMM0, MXCSR) ← Load(SRC);</pre>
<h2>x87 FPU and SIMD Floating-Point Exceptions</h2>
<p>None.</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>
<p>For an illegal memory operand effective address in the CS, DS, ES, FS or GS segments.</p>
<p>If a memory operand is not aligned on a 16-byte boundary, regardless of segment. (See align-ment check exception [#AC] below.)</p>
<p>For an attempt to set reserved bits in MXCSR.</p></td></tr>
<tr>
<td>#SS(0)</td>
<td>For an illegal address in the SS segment.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>For a page fault.</td></tr>
<tr>
<td>#NM</td>
<td>
<p>If CR0.TS[bit 3] = 1.</p>
<p>If CR0.EM[bit 2] = 1.</p></td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:EDX.FXSR[bit 24] = 0.</p>
<p>If instruction is preceded by a LOCK prefix.</p></td></tr>
<tr>
<td>#AC</td>
<td>If this exception is disabled a general protection exception (#GP) is signaled if the memory operand is not aligned on a 16-byte boundary, as described above. If the alignment check exception (#AC) is enabled (and the CPL is 3), signaling of #AC is not guaranteed and may vary with implementation, as follows. In all implementations where #AC is not signaled, a general protection exception is signaled in its place. In addition, the width of the alignment check may also vary with implementation. For instance, for a given implementation, an align-ment check exception might be signaled for a 2-byte misalignment, whereas a general protec-tion exception might be signaled for all other misalignments (4-, 8-, or 16-byte misalignments).</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP</td>
<td>
<p>If a memory operand is not aligned on a 16-byte boundary, regardless of segment.</p>
<p>If any part of the operand lies outside the effective address space from 0 to FFFFH.</p>
<p>For an attempt to set reserved bits in MXCSR.</p></td></tr>
<tr>
<td>#NM</td>
<td>
<p>If CR0.TS[bit 3] = 1.</p>
<p>If CR0.EM[bit 2] = 1.</p></td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:EDX.FXSR[bit 24] = 0.</p>
<p>If the LOCK prefix is used.</p></td></tr></table>
<h2>Virtual-8086 Mode Exceptions</h2>
<p>Same exceptions as in real address mode.</p>
<table class="exception-table">
<tr>
<td>#PF(fault-code)</td>
<td>For a page fault.</td></tr>
<tr>
<td>#AC</td>
<td>For unaligned memory reference.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#SS(0)</td>
<td>If a memory address referencing the SS segment is in a non-canonical form.</td></tr>
<tr>
<td>#GP(0)</td>
<td>
<p>If the memory address is in a non-canonical form.</p>
<p>If memory operand is not aligned on a 16-byte boundary, regardless of segment.</p>
<p>For an attempt to set reserved bits in MXCSR.</p></td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>For a page fault.</td></tr>
<tr>
<td>#NM</td>
<td>
<p>If CR0.TS[bit 3] = 1.</p>
<p>If CR0.EM[bit 2] = 1.</p></td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:EDX.FXSR[bit 24] = 0.</p>
<p>If instruction is preceded by a LOCK prefix.</p></td></tr>
<tr>
<td>#AC</td>
<td>
<p>If this exception is disabled a general protection exception (#GP) is signaled if the memory operand is not aligned on a 16-byte boundary, as described above. If the alignment check exception (#AC) is enabled (and the CPL is 3), signaling of #AC is not guaranteed and may vary with implementation, as follows. In all implementations where #AC is not signaled, a</p>
<p>general protection exception is signaled in its place. In addition, the width of the alignment check may also vary with implementation. For instance, for a given implementation, an align-ment check exception might be signaled for a 2-byte misalignment, whereas a general protec-tion exception might be signaled for all other misalignments (4-, 8-, or 16-byte misalignments).</p></td></tr></table></body></html>