<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>FYL2XP1—Compute y ∗ log2(x +1) </title></head>
<body>
<h1>FYL2XP1—Compute y ∗ log<sub>2</sub>(x +1)</h1>
<table>
<tr>
<th>Opcode</th>
<th>Instruction</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>D9 F9</td>
<td>FYL2XP1</td>
<td>Valid</td>
<td>Valid</td>
<td>Replace ST(1) with ST(1) ∗ log<sub>2</sub>(ST(0) + 1.0) and pop the register stack.</td></tr></table>
<h2>Description</h2>
<p>Computes (ST(1) ∗ log<sub>2</sub>(ST(0) + 1.0)), stores the result in register ST(1), and pops the FPU register stack. The source operand in ST(0) must be in the range:</p>

<math>
	<mo>-</mo>
	<mo stretchy="true">(</mo>
	<mn>1</mn>
	<mo>-</mo>
	<mfrac>
		<mrow><msqrt><mn>2</mn></msqrt></mrow>
		<mrow><mn>2</mn></mrow>
	</mfrac>
	<mo stretchy="true">)</mo>
	<mtext>&nbsp;to&nbsp;</mtext>
	<mo stretchy="true">(</mo>
	<mn>1</mn>
	<mo>-</mo>
	<mfrac>
		<mrow><msqrt><mn>2</mi></msqrt></mrow>
		<mrow><mn>2</mn></mrow>
	</mfrac>
	<mo stretchy="true">)</mo>
</math>

<p>The source operand in ST(1) can range from −∞ to +∞. If the ST(0) operand is outside of its acceptable range, the result is undefined and software should not rely on an exception being generated. Under some circumstances exceptions may be generated when ST(0) is out of range, but this behavior is implementation specific and not guaranteed.</p>
<p>The following table shows the results obtained when taking the log epsilon of various classes of numbers, assuming that underflow does not occur.</p>
<h3>Table 3-59.  FYL2XP1 Results</h3>
<table>
<tr>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
<th colspan="2">ST(0)</th>
<td colspan="2"></td>
<td colspan="2"></td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2">
<math>
	<mo>-</mo>
	<mo stretchy="true">(</mo>
	<mn>1</mn>
	<mo>-</mo>
	<mfrac>
		<mrow><msqrt><mn>2</mn></msqrt></mrow>
		<mrow><mn>2</mn></mrow>
	</mfrac>
	<mo stretchy="true">)</mo>
	<mtext>&nbsp;to&nbsp;</mtext>
	<mo>-</mo>
	<mn>0</mn>
</math>
</td>
<td colspan="2">-0</td>
<td colspan="2">+0</td>
<td colspan="2">
<math>
	<mo>+</mo>
	<mn>0</mn>
	<mtext>&nbsp;to&nbsp;</mtext>
	<mo>+</mo>
	<mo stretchy="true">(</mo>
	<mn>1</mn>
	<mo>-</mo>
	<mfrac>
		<mrow><msqrt><mn>2</mn></msqrt></mrow>
		<mrow><mn>2</mn></mrow>
	</mfrac>
	<mo stretchy="true">)</mo>
</math>
</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">− ∞</td>
<td colspan="2">+∞</td>
<td colspan="2">*</td>
<td colspan="2">*</td>
<td colspan="2">− ∞</td>
<td colspan="2">NaN</td></tr>
<tr>
<th colspan="2">ST(1)</th>
<td colspan="2">− F</td>
<td colspan="2">+F</td>
<td colspan="2">+0</td>
<td colspan="2">-0</td>
<td colspan="2">− F</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">− 0</td>
<td colspan="2">+0</td>
<td colspan="2">+0</td>
<td colspan="2">-0</td>
<td colspan="2">− 0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+0</td>
<td colspan="2">− 0</td>
<td colspan="2">− 0</td>
<td colspan="2">+0</td>
<td colspan="2">+0</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+F</td>
<td colspan="2">− F</td>
<td colspan="2">− 0</td>
<td colspan="2">+0</td>
<td colspan="2">+F</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">+∞</td>
<td colspan="2">− ∞</td>
<td colspan="2">*</td>
<td colspan="2">*</td>
<td colspan="2">+∞</td>
<td colspan="2">NaN</td></tr>
<tr>
<td colspan="2"></td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td>
<td colspan="2">NaN</td></tr></table>
<p><strong>NOTES:</strong></p>
<p>F Means finite floating-point value.</p>
<p>*</p>
<p>Indicates floating-point invalid-operation (#IA) exception.</p>
<p>This instruction provides optimal accuracy for values of epsilon [the value in register ST(0)] that are close to 0. For small epsilon (ε) values, more significant digits can be retained by using the FYL2XP1 instruction than by using (ε+1) as an argument to the FYL2X instruction. The (ε+1) expression is commonly found in compound interest and annuity calculations. The result can be simply converted into a value in another logarithm base by including a scale factor in the ST(1) source operand. The following equation is used to calculate the scale factor for a particular loga-rithm base, where n is the logarithm base desired for the result of the FYL2XP1 instruction:</p>
<p>scale factor ← log<sub>n</sub> 2</p>
<p>This instruction’s operation is the same in non-64-bit modes and 64-bit mode.</p>
<h2>Operation</h2>
<pre>ST(1) ← ST(1) ∗ log<sub>2</sub>(ST(0) + 1.0);
PopRegisterStack;</pre>
<h2>FPU Flags Affected</h2>
<table class="exception-table">
<tr>
<td>C1</td>
<td>
<p>Set to 0 if stack underflow occurred.</p>
<p>Set if result was rounded up; cleared otherwise.</p></td></tr>
<tr>
<td>C0, C2, C3</td>
<td>Undefined.</td></tr></table>
<h2>Floating-Point Exceptions</h2>
<table class="exception-table">
<tr>
<td>#IS</td>
<td>Stack underflow occurred.</td></tr>
<tr>
<td>#IA</td>
<td>Either operand is an SNaN value or unsupported format.</td></tr></table>
<p>#D</p>
<p>Source operand is a denormal value.</p>
<p>#U</p>
<p>Result is too small for destination format.</p>
<p>#O</p>
<p>Result is too large for destination format.</p>
<p>#P</p>
<p>Value cannot be represented exactly in destination format.</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#NM</td>
<td>CR0.EM[bit 2] or CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#MF</td>
<td>If there is a pending x87 FPU exception.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>Virtual-8086 Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p></body></html>