<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>MOVNTDQ—Store Double Quadword Using Non-Temporal Hint </title></head>
<body>
<h1>MOVNTDQ—Store Double Quadword Using Non-Temporal Hint</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32-bit Mode</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>66 0F E7 /<em>r</em></p>
<p>MOVNTDQ <em>m128</em>, <em>xmm</em></p></td>
<td>MR</td>
<td>V/V</td>
<td>SSE2</td>
<td>Move double quadword from <em>xmm</em> to <em>m128 </em>using non-temporal hint.</td></tr>
<tr>
<td>
<p>VEX.128.66.0F.WIG E7 /r</p>
<p>VMOVNTDQ <em>m128, xmm1</em></p></td>
<td>MR</td>
<td>V/V</td>
<td>AVX</td>
<td>Move packed integer values in <em>xmm1</em> to <em>m128 </em>using non-temporal hint.</td></tr>
<tr>
<td>
<p>VEX.256.66.0F.WIG E7 /r</p>
<p>VMOVNTDQ <em>m256, ymm1</em></p></td>
<td>MR</td>
<td>V/V</td>
<td>AVX</td>
<td>Move packed integer values in <em>ymm1</em> to <em>m256 </em>using non-temporal hint.</td></tr></table>
<h3>Instruction Operand Encoding<sup>1</sup></h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>MR</td>
<td>ModRM:r/m (w)</td>
<td>ModRM:reg (r)</td>
<td>NA</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Moves the packed integers in the source operand (second operand) to the destination operand (first operand) using a non-temporal hint to prevent caching of the data during the write to memory. The source operand is an XMM register or YMM register, which is assumed to contain integer data (packed bytes, words, doublewords, or quad-words). The destination operand is a 128-bit or 256-bit memory location. The memory operand must be aligned on a 16-byte (128-bit version) or 32-byte (VEX.256 encoded version) boundary otherwise a general-protection exception (#GP) will be generated.</p>
<p>The non-temporal hint is implemented by using a write combining (WC) memory type protocol when writing the data to memory. Using this protocol, the processor does not write the data into the cache hierarchy, nor does it fetch the corresponding cache line from memory into the cache hierarchy. The memory type of the region being written to can override the non-temporal hint, if the memory address specified for the non-temporal store is in an uncacheable (UC) or write protected (WP) memory region. For more information on non-temporal stores, see “Caching of Temporal vs. Non-Temporal Data” in Chapter 10 in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em>.</p>
<p>Because the WC protocol uses a weakly-ordered memory consistency model, a fencing operation implemented with the SFENCE or MFENCE instruction should be used in conjunction with MOVNTDQ instructions if multiple processors might use different memory types to read/write the destination memory locations.</p>
<p>In 64-bit mode, use of the REX.R prefix permits this instruction to access additional registers (XMM8-XMM15).</p>
<p>Note: In VEX-128 encoded versions, VEX.vvvv is reserved and must be 1111b, VEX.L must be 0; otherwise instruc-tions will #UD.</p>
<h2>Operation</h2>
<pre>DEST ← SRC;</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>MOVNTDQ:</p>
<p>void _mm_stream_si128( __m128i *p, __m128i a);</p>
<p>VMOVNTDQ:</p>
<p> void _mm256_stream_si256 (__m256i * p, __m256i a);</p>
<h2>SIMD Floating-Point Exceptions</h2>
<p>None.</p>
<p>1.</p>
<p>ModRM.MOD = 011B is not permitted</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 1.SSE2; additionally</p>
<table class="exception-table">
<tr>
<td>#UD</td>
<td>If VEX.vvvv ≠ 1111B.</td></tr></table></body></html>