<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>PADDQ—Add Packed Quadword Integers </title></head>
<body>
<h1>PADDQ—Add Packed Quadword Integers</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32 bit Mode Support</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>0F D4 /<em>r</em><sup>1</sup></p>
<p>PADDQ <em>mm1, mm2/m64</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>SSE2</td>
<td>Add quadword integer <em>mm2/m64</em> to <em>mm1.</em></td></tr>
<tr>
<td>
<p>66 0F D4 /<em>r</em></p>
<p>PADDQ <em>xmm1, xmm2/m128</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>SSE2</td>
<td>Add packed quadword integers<em> xmm2/m128 </em>to <em>xmm1.</em></td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F.WIG D4 /r</p>
<p>VPADDQ <em>xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Add packed quadword integers <em>xmm3/m128 </em>and <em>xmm2</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F.WIG D4 /r</p>
<p>VPADDQ<em> ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Add packed quadword integers from <em>ymm2, ymm3/m256 </em>and store in <em>ymm1.</em></td></tr></table>
<p>NOTES:</p>
<p>1. See note in Section 2.4, “Instruction Exception Specification” in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 2A</em> and Section 22.25.3, “Exception Conditions of Legacy SIMD Instructions Operating on MMX Registers” in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 3A</em>.</p>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RM</td>
<td>ModRM:reg (r, w)</td>
<td>ModRM:r/m (r)</td>
<td>NA</td>
<td>NA</td></tr>
<tr>
<td>RVM</td>
<td>ModRM:reg (w)</td>
<td>VEX.vvvv (r)</td>
<td>ModRM:r/m (r)</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Adds the first operand (destination operand) to the second operand (source operand) and stores the result in the destination operand. The source operand can be a quadword integer stored in an MMX technology register or a 64-bit memory location, or it can be two packed quadword integers stored in an XMM register or an 128-bit memory location. The destination operand can be a quadword integer stored in an MMX technology register or two packed quadword integers stored in an XMM register. When packed quadword operands are used, a SIMD add is performed. When a quadword result is too large to be represented in 64 bits (overflow), the result is wrapped around and the low 64 bits are written to the destination element (that is, the carry is ignored).</p>
<p>Note that the (V)PADDQ instruction can operate on either unsigned or signed (two’s complement notation) inte-gers; however, it does not set bits in the EFLAGS register to indicate overflow and/or a carry. To prevent undetected overflow conditions, software must control the ranges of the values operated on.</p>
<p>In 64-bit mode, using a REX prefix in the form of REX.R permits this instruction to access additional registers (XMM8-XMM15).</p>
<p>128-bit Legacy SSE version: The first source operand is an XMM register. The second operand can be an XMM register or a 128-bit memory location. The destination is not distinct from the first source XMM register and the upper bits (VLMAX-1:128) of the corresponding YMM register destination are unmodified.</p>
<p>VEX.128 encoded version: The first source operand is an XMM register. The second source operand is an XMM register or 128-bit memory location. The destination operand is an XMM register. The upper bits (VLMAX-1:128) of the corresponding YMM register destination are zeroed.</p>
<p>VEX.256 encoded version: The first source operand is a YMM register. The second source operand is a YMM register or a 256-bit memory location. The destination operand is a YMM register.</p>
<p>Note: VEX.L must be 0, otherwise the instruction will #UD.</p>
<h2>Operation</h2>
<p><strong>PADDQ (with 64-Bit operands)</strong></p>
<pre>    DEST[63:0] ← DEST[63:0] + SRC[63:0];</pre>
<p><strong>PADDQ (with 128-Bit operands)</strong></p>
<pre>    DEST[63:0] ← DEST[63:0] + SRC[63:0];
    DEST[127:64] ← DEST[127:64] + SRC[127:64];</pre>
<p><strong>VPADDQ (VEX.128 encoded instruction)</strong></p>
<pre>    DEST[63:0]← SRC1[63:0]  + SRC2[63:0];
    DEST[127:64] ← SRC1[127:64] + SRC2[127:64];
    DEST[VLMAX-1:128] ← 0;</pre>
<p><strong>VPADDQ (VEX.256 encoded instruction)</strong></p>
<pre>    DEST[63:0]← SRC1[63:0]  + SRC2[63:0];
    DEST[127:64] ← SRC1[127:64] + SRC2[127:64];
    DEST[191:128]← SRC1[191:128]  + SRC2[191:128];
    DEST[255:192] ← SRC1[255:192] + SRC2[255:192];</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalents</h2>
<p>PADDQ:</p>
<p> __m64 _mm_add_si64 (__m64 a, __m64 b)</p>
<p>(V)PADDQ:</p>
<p> __m128i _mm_add_epi64 ( __m128i a, __m128i b)</p>
<p>VPADDQ:</p>
<p>__m256i _mm256_add_epi64 ( __m256i a, __m256i b)</p>
<h2>Flags Affected</h2>
<p>None.</p>
<h2>Numeric Exceptions</h2>
<p>None.</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 4; additionally</p>
<table class="exception-table">
<tr>
<td>#UD</td>
<td>If VEX.L = 1.</td></tr></table></body></html>