<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>PCMPGTB/PCMPGTW/PCMPGTD—Compare Packed Signed Integers for Greater Than </title></head>
<body>
<h1>PCMPGTB/PCMPGTW/PCMPGTD—Compare Packed Signed Integers for Greater Than</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32 bit Mode Support</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>0F 64 /<em>r</em><sup>1</sup></p>
<p>PCMPGTB <em>mm, mm/m64</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>MMX</td>
<td>Compare packed signed byte integers in <em>mm </em>and <em>mm/m64</em> for greater than.</td></tr>
<tr>
<td>
<p>66 0F 64 /<em>r</em></p>
<p>PCMPGTB <em>xmm1</em>, <em>xmm2/m128</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>SSE2</td>
<td>Compare packed signed byte integers in <em>xmm1 </em>and <em>xmm2/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>0F 65 /<em>r</em><sup>1</sup></p>
<p>PCMPGTW <em>mm, mm/m64</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>MMX</td>
<td>Compare packed signed word integers in <em>mm </em>and <em>mm/m64</em> for greater than.</td></tr>
<tr>
<td>
<p>66 0F 65 /<em>r</em></p>
<p>PCMPGTW <em>xmm1</em>, <em>xmm2/m128</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>SSE2</td>
<td>Compare packed signed word integers in <em>xmm1</em> and <em>xmm2/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>0F 66 /<em>r</em><sup>1</sup></p>
<p>PCMPGTD <em>mm, mm/m64</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>MMX</td>
<td>Compare packed signed doubleword integers in <em>mm</em> and <em>mm/m64</em> for greater than.</td></tr>
<tr>
<td>
<p>66 0F 66 /<em>r</em></p>
<p>PCMPGTD <em>xmm1</em>, <em>xmm2/m128</em></p></td>
<td>RM</td>
<td>V/V</td>
<td>SSE2</td>
<td>Compare packed signed doubleword integers in <em>xmm1</em> and <em>xmm2/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F.WIG 64 /r</p>
<p>VPCMPGTB <em>xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Compare packed signed byte integers in <em>xmm2 </em>and <em>xmm3/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F.WIG 65 /r</p>
<p>VPCMPGTW <em>xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Compare packed signed word integers in <em>xmm2</em> and <em>xmm3/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F.WIG 66 /r</p>
<p>VPCMPGTD <em>xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Compare packed signed doubleword integers in <em>xmm2</em> and <em>xmm3/m128</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F.WIG 64 /r</p>
<p>VPCMPGTB <em>ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Compare packed signed byte integers in <em>ymm2 </em>and <em>ymm3/m256</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F.WIG 65 /r</p>
<p>VPCMPGTW <em>ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Compare packed signed word integers in <em>ymm2 </em>and <em>ymm3/m256</em> for greater than.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F.WIG 66 /r</p>
<p>VPCMPGTD <em>ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Compare packed signed doubleword integers in <em>ymm2</em> and <em>ymm3/m256</em> for greater than.</td></tr></table>
<p>NOTES:</p>
<p>1. See note in Section 2.4, “Instruction Exception Specification” in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 2A</em> and Section 22.25.3, “Exception Conditions of Legacy SIMD Instructions Operating on MMX Registers” in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 3A</em>.</p>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RM</td>
<td>ModRM:reg (r, w)</td>
<td>ModRM:r/m (r)</td>
<td>NA</td>
<td>NA</td></tr>
<tr>
<td>RVM</td>
<td>ModRM:reg (w)</td>
<td>VEX.vvvv (r)</td>
<td>ModRM:r/m (r)</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Performs an SIMD signed compare for the greater value of the packed byte, word, or doubleword integers in the destination operand (first operand) and the source operand (second operand). If a data element in the destination operand is greater than the corresponding date element in the source operand, the corresponding data element in the destination operand is set to all 1s; otherwise, it is set to all 0s.</p>
<p>The PCMPGTB instruction compares the corresponding signed byte integers in the destination and source oper-ands; the PCMPGTW instruction compares the corresponding signed word integers in the destination and source</p>
<p>operands; and the PCMPGTD instruction compares the corresponding signed doubleword integers in the destina-tion and source operands.</p>
<p>In 64-bit mode, using a REX prefix in the form of REX.R permits this instruction to access additional registers (XMM8-XMM15).</p>
<p>Legacy SSE instructions: The source operand can be an MMX technology register or a 64-bit memory location. The destination operand can be an MMX technology register.</p>
<p>128-bit Legacy SSE version: The second source operand can be an XMM register or a 128-bit memory location. The first source operand and destination operand are XMM registers. Bits (VLMAX-1:128) of the corresponding YMM destination register remain unchanged.</p>
<p>VEX.128 encoded version: The second source operand can be an XMM register or a 128-bit memory location. The first source operand and destination operand are XMM registers. Bits (VLMAX-1:128) of the corresponding YMM register are zeroed.</p>
<p>VEX.256 encoded version: The first source operand is a YMM register. The second source operand is a YMM register or a 256-bit memory location. The destination operand is a YMM register.</p>
<p>Note: VEX.L must be 0, otherwise the instruction will #UD.</p>
<h2>Operation</h2>
<p><strong>PCMPGTB (with 64-bit operands)</strong></p>
<pre>    IF DEST[7:0] &gt; SRC[7:0]
         THEN DEST[7:0) ← FFH;
         ELSE DEST[7:0] ← 0; FI;
    (* Continue comparison of 2nd through 7th bytes in DEST and SRC *)
    IF DEST[63:56] &gt; SRC[63:56]
         THEN DEST[63:56] ← FFH;
         ELSE DEST[63:56] ← 0; FI;</pre>
<p><strong>PCMPGTB (with 128-bit operands)</strong></p>
<pre>    IF DEST[7:0] &gt; SRC[7:0]
         THEN DEST[7:0) ← FFH;
         ELSE DEST[7:0] ← 0; FI;
    (* Continue comparison of 2nd through 15th bytes in DEST and SRC *)
    IF DEST[127:120] &gt; SRC[127:120]
         THEN DEST[127:120] ← FFH;
         ELSE DEST[127:120] ← 0; FI;</pre>
<p><strong>VPCMPGTB (VEX.128 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_BYTES_GREATER(SRC1,SRC2)
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VPCMPGTB (VEX.256 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_BYTES_GREATER(SRC1[127:0],SRC2[127:0])
DEST[255:128] ←COMPARE_BYTES_GREATER(SRC1[255:128],SRC2[255:128])</pre>
<p><strong>PCMPGTW (with 64-bit operands)</strong></p>
<pre>    IF DEST[15:0] &gt; SRC[15:0]
         THEN DEST[15:0] ← FFFFH;
         ELSE DEST[15:0] ← 0; FI;
    (* Continue comparison of 2nd and 3rd words in DEST and SRC *)
    IF DEST[63:48] &gt; SRC[63:48]
         THEN DEST[63:48] ← FFFFH;
         ELSE DEST[63:48] ← 0; FI;</pre>
<p><strong>PCMPGTW (with 128-bit operands)</strong></p>
<pre>    IF DEST[15:0] &gt; SRC[15:0]
         THEN DEST[15:0] ← FFFFH;
         ELSE DEST[15:0] ← 0; FI;
    (* Continue comparison of 2nd through 7th words in DEST and SRC *)
    IF DEST[63:48] &gt; SRC[127:112]
         THEN DEST[127:112] ← FFFFH;
         ELSE DEST[127:112] ← 0; FI;</pre>
<p><strong>VPCMPGTW (VEX.128 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_WORDS_GREATER(SRC1,SRC2)
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VPCMPGTW (VEX.256 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_WORDS_GREATER(SRC1[127:0],SRC2[127:0])
DEST[255:128] ←COMPARE_WORDS_GREATER(SRC1[255:128],SRC2[255:128])</pre>
<p><strong>PCMPGTD (with 64-bit operands)</strong></p>
<pre>    IF DEST[31:0] &gt; SRC[31:0]
         THEN DEST[31:0] ← FFFFFFFFH;
         ELSE DEST[31:0] ← 0; FI;
    IF DEST[63:32] &gt; SRC[63:32]
         THEN DEST[63:32] ← FFFFFFFFH;
         ELSE DEST[63:32] ← 0; FI;</pre>
<p><strong>PCMPGTD (with 128-bit operands)</strong></p>
<pre>    IF DEST[31:0] &gt; SRC[31:0]
         THEN DEST[31:0] ← FFFFFFFFH;
         ELSE DEST[31:0] ← 0; FI;
    (* Continue comparison of 2nd and 3rd doublewords in DEST and SRC *)
    IF DEST[127:96] &gt; SRC[127:96]
         THEN DEST[127:96] ← FFFFFFFFH;
         ELSE DEST[127:96] ← 0; FI;</pre>
<p><strong>VPCMPGTD (VEX.128 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_DWORDS_GREATER(SRC1,SRC2)
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VPCMPGTD (VEX.256 encoded version)</strong></p>
<pre>DEST[127:0] ←COMPARE_DWORDS_GREATER(SRC1[127:0],SRC2[127:0])
DEST[255:128] ←COMPARE_DWORDS_GREATER(SRC1[255:128],SRC2[255:128])</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalents</h2>
<p>PCMPGTB:</p>
<p>__m64 _mm_cmpgt_pi8 (__m64 m1, __m64 m2)</p>
<p>PCMPGTW:</p>
<p>__m64 _mm_pcmpgt_pi16 (__m64 m1, __m64 m2)</p>
<p>DCMPGTD:</p>
<p>__m64 _mm_pcmpgt_pi32 (__m64 m1, __m64 m2)</p>
<p>(V)PCMPGTB:</p>
<p>__m128i _mm_cmpgt_epi8 ( __m128i a, __m128i b)</p>
<p>(V)PCMPGTW:</p>
<p>__m128i _mm_cmpgt_epi16 ( __m128i a, __m128i b)</p>
<p>(V)DCMPGTD:</p>
<p>__m128i _mm_cmpgt_epi32 ( __m128i a, __m128i b)</p>
<p>VPCMPGTB:</p>
<p>__m256i _mm256_cmpgt_epi8 ( __m256i a, __m256i b)</p>
<p>VPCMPGTW:</p>
<p>__m256i _mm256_cmpgt_epi16 ( __m256i a, __m256i b)</p>
<p>VPCMPGTD:</p>
<p>__m256i _mm256_cmpgt_epi32 ( __m256i a, __m256i b)</p>
<h2>Flags Affected</h2>
<p>None.</p>
<h2>Numeric Exceptions</h2>
<p>None.</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 4; additionally</p>
<table class="exception-table">
<tr>
<td>#UD</td>
<td>If VEX.L = 1.</td></tr></table></body></html>