<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>PSHUFLW—Shuffle Packed Low Words </title></head>
<body>
<h1>PSHUFLW—Shuffle Packed Low Words</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32 bit Mode Support</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>F2 0F 70 /<em>r</em> ib</p>
<p>PSHUFLW <em>xmm1</em>, <em>xmm2/m128</em>, <em>imm8</em></p></td>
<td>RMI</td>
<td>V/V</td>
<td>SSE2</td>
<td>Shuffle the low words in <em>xmm2/m128</em> based on the encoding in <em>imm8</em> and store the result in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.128.F2.0F.WIG 70 /r ib</p>
<p>VPSHUFLW <em>xmm1, xmm2/m128, imm8</em></p></td>
<td>RMI</td>
<td>V/V</td>
<td>AVX</td>
<td>Shuffle the low words in <em>xmm2/m128</em> based on the encoding in <em>imm8</em> and store the result in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.256.F2.0F.WIG 70 /r ib</p>
<p>VPSHUFLW <em>ymm1, ymm2/m256, imm8</em></p></td>
<td>RMI</td>
<td>V/V</td>
<td>AVX2</td>
<td>Shuffle the low words in <em>ymm2/m256</em> based on the encoding in <em>imm8</em> and store the result in <em>ymm1</em>.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RMI</td>
<td>ModRM:reg (w)</td>
<td>ModRM:r/m (r)</td>
<td>imm8</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Copies words from the low quadword of a 128-bit lane of the source operand and inserts them in the low quadword of the destination operand at word locations (of the respective lane) selected with the immediate operand. The 256-bit operation is similar to the in-lane operation used by the 256-bit VPSHUFD instruction, which is illustrated in Figure 4-12. For 128-bit operation, only the low 128-bit lane is operative. Each 2-bit field in the immediate operand selects the contents of one word location in the low quadword of the destination operand. The binary encodings of the immediate operand fields select words (0, 1, 2 or 3) from the low quadword of the source operand to be copied to the destination operand. The high quadword of the source operand is copied to the high quadword of the destination operand, for each 128-bit lane.</p>
<p>Note that this instruction permits a word in the low quadword of the source operand to be copied to more than one word location in the low quadword of the destination operand.</p>
<p>In 64-bit mode, using a REX prefix in the form of REX.R permits this instruction to access additional registers (XMM8-XMM15).</p>
<p>128-bit Legacy SSE version: The destination operand is an XMM register. The source operand can be an XMM register or a 128-bit memory location. Bits (VLMAX-1:128) of the corresponding YMM destination register remain unchanged.</p>
<p>VEX.128 encoded version: The destination operand is an XMM register. The source operand can be an XMM register or a 128-bit memory location. Bits (VLMAX-1:128) of the destination YMM register are zeroed.</p>
<p>VEX.256 encoded version: The destination operand is an YMM register. The source operand can be an YMM register or a 256-bit memory location.</p>
<p>Note: VEX.vvvv is reserved and must be 1111b, VEX.L must be 0, otherwise instructions will #UD.</p>
<h2>Operation</h2>
<p><strong>PSHUFLW (128-bit Legacy SSE version)</strong></p>
<pre>DEST[15:0] ← (SRC &gt;&gt; (imm[1:0] *16))[15:0]
DEST[31:16] ← (SRC &gt;&gt; (imm[3:2] * 16))[15:0]
DEST[47:32] ← (SRC &gt;&gt; (imm[5:4] * 16))[15:0]
DEST[63:48] ← (SRC &gt;&gt; (imm[7:6] * 16))[15:0]
DEST[127:64] ← SRC[127:64]
DEST[VLMAX-1:128] (Unmodified)</pre>
<p><strong>VPSHUFLW (VEX.128 encoded version)</strong></p>
<pre>DEST[15:0] ← (SRC1 &gt;&gt; (imm[1:0] *16))[15:0]
DEST[31:16] ← (SRC1 &gt;&gt; (imm[3:2] * 16))[15:0]
DEST[47:32] ← (SRC1 &gt;&gt; (imm[5:4] * 16))[15:0]
DEST[63:48] ← (SRC1 &gt;&gt; (imm[7:6] * 16))[15:0]
DEST[127:64] ← SRC[127:64]
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VPSHUFLW (VEX.256 encoded version)</strong></p>
<pre>DEST[15:0] ← (SRC1 &gt;&gt; (imm[1:0] *16))[15:0]
DEST[31:16] ← (SRC1 &gt;&gt; (imm[3:2] * 16))[15:0]
DEST[47:32] ← (SRC1 &gt;&gt; (imm[5:4] * 16))[15:0]
DEST[63:48] ← (SRC1 &gt;&gt; (imm[7:6] * 16))[15:0]
DEST[127:64] ← SRC1[127:64]
DEST[143:128] ← (SRC1 &gt;&gt; (imm[1:0] *16))[143:128]
DEST[159:144] ← (SRC1 &gt;&gt; (imm[3:2] * 16))[143:128]
DEST[175:160] ← (SRC1 &gt;&gt; (imm[5:4] * 16))[143:128]
DEST[191:176] ← (SRC1 &gt;&gt; (imm[7:6] * 16))[143:128]
DEST[255:192] ← SRC1[255:192]</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>(V)PSHUFLW:</p>
<p>__m128i _mm_shufflelo_epi16(__m128i a, int n)</p>
<p>VPSHUFLW:</p>
<p>__m256i _mm256_shufflelo_epi16(__m256i a, const int n)</p>
<h2>Flags Affected</h2>
<p>None.</p>
<h2>SIMD Floating-Point Exceptions</h2>
<p>None.</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 4; additionally</p>
<table class="exception-table">
<tr>
<td>#UD</td>
<td>
<p>If VEX.L = 1.</p>
<p>If VEX.vvvv ≠ 1111B.</p></td></tr></table></body></html>