<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>SAL/SAR/SHL/SHR—Shift </title></head>
<body>
<h1>SAL/SAR/SHL/SHR—Shift</h1>
<table>
<tr>
<th>Opcode***</th>
<th>Instruction</th>
<th>Op/En</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>D0 /4</td>
<td>SAL <em>r/m8</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>REX + D0 /4</td>
<td>SAL <em>r/m8**</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>D2 /4</td>
<td>SAL <em>r/m8</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8 </em>by 2, CL times.</td></tr>
<tr>
<td>REX + D2 /4</td>
<td>SAL <em>r/m8**</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8 </em>by 2, CL times.</td></tr>
<tr>
<td>C0 /4 <em>ib</em></td>
<td>SAL <em>r/m8, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX + C0 /4 <em>ib</em></td>
<td>SAL <em>r/m8**, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /4</td>
<td>SAL <em>r/m16</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, once.</td></tr>
<tr>
<td>D3 /4</td>
<td>SAL <em>r/m16</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, CL times.</td></tr>
<tr>
<td>C1 /4 <em>ib</em></td>
<td>SAL <em>r/m16, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /4</td>
<td>SAL <em>r/m32</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, once.</td></tr>
<tr>
<td>REX.W + D1 /4</td>
<td>SAL <em>r/m64</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64 </em>by 2, once.</td></tr>
<tr>
<td>D3 /4</td>
<td>SAL <em>r/m32</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, CL times.</td></tr>
<tr>
<td>REX.W + D3 /4</td>
<td>SAL <em>r/m64</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64</em> by 2, CL times.</td></tr>
<tr>
<td>C1 /4 <em>ib</em></td>
<td>SAL <em>r/m32, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX.W + C1 /4 <em>ib</em></td>
<td>SAL <em>r/m64, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D0 /7</td>
<td>SAR <em>r/m8</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>REX + D0 /7</td>
<td>SAR <em>r/m8**</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide* <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>D2 /7</td>
<td>SAR <em>r/m8</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>REX + D2 /7</td>
<td>SAR <em>r/m8**</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide* <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>C0 /7 <em>ib</em></td>
<td>SAR <em>r/m8, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m8</em> by 2, <em>imm8</em> time.</td></tr>
<tr>
<td>REX + C0 /7 <em>ib</em></td>
<td>SAR <em>r/m8**, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide* <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /7</td>
<td>SAR <em>r/m16</em>,1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m16</em> by 2, once.</td></tr>
<tr>
<td>D3 /7</td>
<td>SAR <em>r/m16</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m16</em> by 2, CL times.</td></tr>
<tr>
<td>C1 /7 <em>ib</em></td>
<td>SAR <em>r/m16, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide*<sup> </sup><em>r/m16</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /7</td>
<td>SAR <em>r/m32</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide* <em>r/m32</em> by 2, once.</td></tr>
<tr>
<td>REX.W + D1 /7</td>
<td>SAR <em>r/m64</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide* <em>r/m64</em> by 2, once.</td></tr>
<tr>
<td>D3 /7</td>
<td>SAR <em>r/m32</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide*<sup> </sup><em>r/m32</em> by 2, CL times.</td></tr>
<tr>
<td>REX.W + D3 /7</td>
<td>SAR <em>r/m64</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide*<sup> </sup><em>r/m64 </em>by 2, CL times.</td></tr>
<tr>
<td>C1 /7 <em>ib</em></td>
<td>SAR <em>r/m32, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Signed divide*<sup> </sup><em>r/m32</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX.W + C1 /7 <em>ib</em></td>
<td>SAR <em>r/m64, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Signed divide*<sup> </sup><em>r/m64</em> by 2, <em>imm8</em> times</td></tr>
<tr>
<td>D0 /4</td>
<td>SHL <em>r/m8</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>REX + D0 /4</td>
<td>SHL <em>r/m8**</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>D2 /4</td>
<td>SHL <em>r/m8</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>REX + D2 /4</td>
<td>SHL <em>r/m8**</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>C0 /4 <em>ib</em></td>
<td>SHL <em>r/m8, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX + C0 /4 <em>ib</em></td>
<td>SHL <em>r/m8**, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /4</td>
<td>SHL <em>r/m16</em>,1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, once.</td></tr>
<tr>
<td>D3 /4</td>
<td>SHL <em>r/m16</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, CL times.</td></tr>
<tr>
<td>C1 /4 <em>ib</em></td>
<td>SHL <em>r/m16, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m16</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /4</td>
<td>SHL <em>r/m32</em>,1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, once.</td></tr></table>
<table>
<tr>
<th>Opcode</th>
<th>Instruction</th>
<th>Op/En</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>REX.W + D1 /4</td>
<td>SHL <em>r/m64</em>,1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64</em> by 2, once.</td></tr>
<tr>
<td>D3 /4</td>
<td>SHL <em>r/m32</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, CL times.</td></tr>
<tr>
<td>REX.W + D3 /4</td>
<td>SHL <em>r/m64</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64 </em>by 2, CL times.</td></tr>
<tr>
<td>C1 /4 <em>ib</em></td>
<td>SHL <em>r/m32, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Multiply <em>r/m32</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX.W + C1 /4 <em>ib</em></td>
<td>SHL <em>r/m64, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Multiply <em>r/m64</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D0 /5</td>
<td>SHR <em>r/m8</em>,1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>REX + D0 /5</td>
<td>SHR <em>r/m8**</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m8</em> by 2, once.</td></tr>
<tr>
<td>D2 /5</td>
<td>SHR <em>r/m8</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>REX + D2 /5</td>
<td>SHR <em>r/m8**</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m8</em> by 2, CL times.</td></tr>
<tr>
<td>C0 /5 <em>ib</em></td>
<td>SHR <em>r/m8, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX + C0 /5 <em>ib</em></td>
<td>SHR <em>r/m8**, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m8</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /5</td>
<td>SHR <em>r/m16</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m16</em> by 2, once.</td></tr>
<tr>
<td>D3 /5</td>
<td>SHR <em>r/m16</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m16</em> by 2, CL times</td></tr>
<tr>
<td>C1 /5 <em>ib</em></td>
<td>SHR <em>r/m16, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m16</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>D1 /5</td>
<td>SHR <em>r/m32</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m32</em> by 2, once.</td></tr>
<tr>
<td>REX.W + D1 /5</td>
<td>SHR <em>r/m64</em>, 1</td>
<td>M1</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m64</em> by 2, once.</td></tr>
<tr>
<td>D3 /5</td>
<td>SHR <em>r/m32</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m32</em> by 2, CL times.</td></tr>
<tr>
<td>REX.W + D3 /5</td>
<td>SHR <em>r/m64</em>, CL</td>
<td>MC</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m64</em> by 2, CL times.</td></tr>
<tr>
<td>C1 /5 <em>ib</em></td>
<td>SHR <em>r/m32, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>Valid</td>
<td>Unsigned divide <em>r/m32</em> by 2, <em>imm8</em> times.</td></tr>
<tr>
<td>REX.W + C1 /5 <em>ib</em></td>
<td>SHR <em>r/m64, imm8</em></td>
<td>MI</td>
<td>Valid</td>
<td>N.E.</td>
<td>Unsigned divide <em>r/m64</em> by 2, <em>imm8</em> times.</td></tr></table>
<p><strong>NOTES:</strong></p>
<p>* Not the same form of division as IDIV; rounding is toward negative infinity.</p>
<p>** In 64-bit mode, r/m8 can not be encoded to access the following byte registers if a REX prefix is used: AH, BH, CH, DH.</p>
<p>***See IA-32 Architecture Compatibility section below.</p>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>M1</td>
<td>ModRM:r/m (r, w)</td>
<td>1</td>
<td>NA</td>
<td>NA</td></tr>
<tr>
<td>MC</td>
<td>ModRM:r/m (r, w)</td>
<td>CL</td>
<td>NA</td>
<td>NA</td></tr>
<tr>
<td>MI</td>
<td>ModRM:r/m (r, w)</td>
<td>imm8</td>
<td>NA</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Shifts the bits in the first operand (destination operand) to the left or right by the number of bits specified in the second operand (count operand). Bits shifted beyond the destination operand boundary are first shifted into the CF flag, then discarded. At the end of the shift operation, the CF flag contains the last bit shifted out of the destination operand.</p>
<p>The destination operand can be a register or a memory location. The count operand can be an immediate value or the CL register. The count is masked to 5 bits (or 6 bits if in 64-bit mode and REX.W is used). The count range is limited to 0 to 31 (or 63 if 64-bit mode and REX.W is used). A special opcode encoding is provided for a count of 1.</p>
<p>The shift arithmetic left (SAL) and shift logical left (SHL) instructions perform the same operation; they shift the bits in the destination operand to the left (toward more significant bit locations). For each shift count, the most significant bit of the destination operand is shifted into the CF flag, and the least significant bit is cleared (see Figure 7-7 in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em>).</p>
<p>The shift arithmetic right (SAR) and shift logical right (SHR) instructions shift the bits of the destination operand to the right (toward less significant bit locations). For each shift count, the least significant bit of the destination operand is shifted into the CF flag, and the most significant bit is either set or cleared depending on the instruction type. The SHR instruction clears the most significant bit (see Figure 7-8 in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em>); the SAR instruction sets or clears the most significant bit to correspond to the sign (most significant bit) of the original value in the destination operand. In effect, the SAR instruction fills the empty bit position’s shifted value with the sign of the unshifted value (see Figure 7-9 in the <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em>).</p>
<p>The SAR and SHR instructions can be used to perform signed or unsigned division, respectively, of the destination operand by powers of 2. For example, using the SAR instruction to shift a signed integer 1 bit to the right divides the value by 2.</p>
<p>Using the SAR instruction to perform a division operation does not produce the same result as the IDIV instruction. The quotient from the IDIV instruction is rounded toward zero, whereas the “quotient” of the SAR instruction is rounded toward negative infinity. This difference is apparent only for negative numbers. For example, when the IDIV instruction is used to divide -9 by 4, the result is -2 with a remainder of -1. If the SAR instruction is used to shift -9 right by two bits, the result is -3 and the “remainder” is +3; however, the SAR instruction stores only the most significant bit of the remainder (in the CF flag).</p>
<p>The OF flag is affected only on 1-bit shifts. For left shifts, the OF flag is set to 0 if the most-significant bit of the result is the same as the CF flag (that is, the top two bits of the original operand were the same); otherwise, it is set to 1. For the SAR instruction, the OF flag is cleared for all 1-bit shifts. For the SHR instruction, the OF flag is set to the most-significant bit of the original operand.</p>
<p>In 64-bit mode, the instruction’s default operation size is 32 bits and the mask width for CL is 5 bits. Using a REX prefix in the form of REX.R permits access to additional registers (R8-R15). Using a REX prefix in the form of REX.W promotes operation to 64-bits and sets the mask width for CL to 6 bits. See the summary chart at the beginning of this section for encoding data and limits.</p>
<h2>IA-32 Architecture Compatibility</h2>
<p>The 8086 does not mask the shift count. However, all other IA-32 processors (starting with the Intel 286 processor) do mask the shift count to 5 bits, resulting in a maximum count of 31. This masking is done in all operating modes (including the virtual-8086 mode) to reduce the maximum execution time of the instructions.</p>
<h2>Operation</h2>
<pre>IF 64-Bit Mode and using REX.W
    THEN
         countMASK ← 3FH;
    ELSE
         countMASK ← 1FH;
FI
tempCOUNT ← (COUNT AND countMASK);
tempDEST ← DEST;
WHILE (tempCOUNT ≠ 0)
DO
    IF instruction is SAL or SHL
         THEN
              CF ← MSB(DEST);
         ELSE (* Instruction is SAR or SHR *)
              CF ← LSB(DEST);
    FI;
    IF instruction is SAL or SHL
         THEN
              DEST<em> </em>← DEST ∗ 2;
         ELSE
              IF instruction is SAR
                    THEN
                         DEST ← DEST / 2; (* Signed divide, rounding toward negative infinity *)
                    ELSE (* Instruction is SHR *)
                         DEST ← DEST / 2 ; (* Unsigned divide *)
              FI;
    FI;
    tempCOUNT ← tempCOUNT – 1;
OD;
(* Determine overflow for the various instructions *)
IF (COUNT and countMASK) = 1
    THEN
         IF instruction is SAL or SHL
              THEN
                    OF ← MSB(DEST) XOR CF;
              ELSE
                    IF instruction is SAR
                         THEN
                              OF ← 0;
                         ELSE (* Instruction is SHR *)
                              OF ← MSB(tempDEST);
                    FI;
         FI;
    ELSE IF (COUNT AND countMASK) = 0
         THEN
              All flags unchanged;
         ELSE (* COUNT not 1 or 0 *)
              OF ← undefined;
    FI;
FI;</pre>
<h2>Flags Affected</h2>
<p>The CF flag contains the value of the last bit shifted out of the destination operand; it is undefined for SHL and SHR instructions where the count is greater than or equal to the size (in bits) of the destination operand. The OF flag is affected only for 1-bit shifts (see “Description” above); otherwise, it is undefined. The SF, ZF, and PF flags are set according to the result. If the count is 0, the flags are not affected. For a non-zero count, the AF flag is undefined.</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>
<p>If the destination is located in a non-writable segment.</p>
<p>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</p>
<p>If the DS, ES, FS, or GS register contains a NULL segment selector.</p></td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made while the current privilege level is 3.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP</td>
<td>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</td></tr>
<tr>
<td>#SS</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Virtual-8086 Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#SS(0)</td>
<td>If a memory address referencing the SS segment is in a non-canonical form.</td></tr>
<tr>
<td>#GP(0)</td>
<td>If the memory address is in a non-canonical form.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#AC(0)</td>
<td>If alignment checking is enabled and an unaligned memory reference is made while the current privilege level is 3.</td></tr>
<tr>
<td>#UD</td>
<td>If the LOCK prefix is used.</td></tr></table></body></html>