<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>VMASKMOV—Conditional SIMD Packed Loads and Stores </title></head>
<body>
<h1>VMASKMOV—Conditional SIMD Packed Loads and Stores</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32-bit Mode</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W0 2C /r</p>
<p>VMASKMOVPS <em>xmm1, xmm2, m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally load packed single-precision values from <em>m128</em> using mask in <em>xmm2</em> and store in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W0 2C /r</p>
<p>VMASKMOVPS <em>ymm1, ymm2, m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally load packed single-precision values from <em>m256</em> using mask in <em>ymm2</em> and store in <em>ymm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W0 2D /r</p>
<p>VMASKMOVPD <em>xmm1, xmm2, m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally load packed double-precision values from <em>m128</em> using mask in <em>xmm2</em> and store in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W0 2D /r</p>
<p>VMASKMOVPD <em>ymm1, ymm2, m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally load packed double-precision values from <em>m256</em> using mask in <em>ymm2</em> and store in <em>ymm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W0 2E /r</p>
<p>VMASKMOVPS <em>m128, xmm1, xmm2</em></p></td>
<td>MVR</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally store packed single-precision values from <em>xmm2</em> using mask in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W0 2E /r</p>
<p>VMASKMOVPS <em>m256, ymm1, ymm2</em></p></td>
<td>MVR</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally store packed single-precision values from <em>ymm2</em> using mask in <em>ymm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W0 2F /r</p>
<p>VMASKMOVPD <em>m128, xmm1, xmm2</em></p></td>
<td>MVR</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally store packed double-precision values from <em>xmm2</em> using mask in <em>xmm1</em>.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W0 2F /r</p>
<p>VMASKMOVPD <em>m256, ymm1, ymm2</em></p></td>
<td>MVR</td>
<td>V/V</td>
<td>AVX</td>
<td>Conditionally store packed double-precision values from <em>ymm2</em> using mask in <em>ymm1</em>.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RVM</td>
<td>ModRM:reg (w)</td>
<td>VEX.vvvv (r)</td>
<td>ModRM:r/m (r)</td>
<td>NA</td></tr>
<tr>
<td>MVR</td>
<td>ModRM:r/m (w)</td>
<td>VEX.vvvv (r)</td>
<td>ModRM:reg (r)</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Conditionally moves packed data elements from the second source operand into the corresponding data element of the destination operand, depending on the mask bits associated with each data element. The mask bits are specified in the first source operand.</p>
<p>The mask bit for each data element is the most significant bit of that element in the first source operand. If a mask is 1, the corresponding data element is copied from the second source operand to the destination operand. If the mask is 0, the corresponding data element is set to zero in the load form of these instructions, and unmodified in the store form.</p>
<p>The second source operand is a memory address for the load form of these instruction. The destination operand is a memory address for the store form of these instructions. The other operands are both XMM registers (for VEX.128 version) or YMM registers (for VEX.256 version).</p>
<p>Faults occur only due to mask-bit required memory accesses that caused the faults. Faults will not occur due to referencing any memory location if the corresponding mask bit for that memory location is 0. For example, no faults will be detected if the mask bits are all zero.</p>
<p>Unlike previous MASKMOV instructions (MASKMOVQ and MASKMOVDQU), a nontemporal hint is not applied to these instructions.</p>
<p>Instruction behavior on alignment check reporting with mask bits of less than all 1s are the same as with mask bits of all 1s.</p>
<p>VMASKMOV should not be used to access memory mapped I/O and un-cached memory as the access and the ordering of the individual loads or stores it does is implementation specific.</p>
<p>In cases where mask bits indicate data should not be loaded or stored paging A and D bits will be set in an imple-mentation dependent way. However, A and D bits are always set for pages where data is actually loaded/stored.</p>
<p>Note: for load forms, the first source (the mask) is encoded in VEX.vvvv; the second source is encoded in rm_field, and the destination register is encoded in reg_field.</p>
<p>Note: for store forms, the first source (the mask) is encoded in VEX.vvvv; the second source register is encoded in reg_field, and the destination memory location is encoded in rm_field.</p>
<h2>Operation</h2>
<p><strong>VMASKMOVPS -128-bit load</strong></p>
<pre>DEST[31:0] ← IF (SRC1[31]) Load_32(mem) ELSE 0
DEST[63:32] ← IF (SRC1[63]) Load_32(mem + 4) ELSE 0
DEST[95:64] ← IF (SRC1[95]) Load_32(mem + 8) ELSE 0
DEST[127:97] ← IF (SRC1[127]) Load_32(mem + 12) ELSE 0
DEST[VLMAX-1:128] ← 0
DEST[31:0] ← IF (SRC1[31]) Load_32(mem) ELSE 0
DEST[63:32] ← IF (SRC1[63]) Load_32(mem + 4) ELSE 0
DEST[95:64] ← IF (SRC1[95]) Load_32(mem + 8) ELSE 0
DEST[127:96] ← IF (SRC1[127]) Load_32(mem + 12) ELSE 0
DEST[159:128] ← IF (SRC1[159]) Load_32(mem + 16) ELSE 0
DEST[191:160] ← IF (SRC1[191]) Load_32(mem + 20) ELSE 0
DEST[223:192] ← IF (SRC1[223]) Load_32(mem + 24) ELSE 0
DEST[255:224] ← IF (SRC1[255]) Load_32(mem + 28) ELSE 0</pre>
<p><strong>VMASKMOVPD - 128-bit load</strong></p>
<pre>DEST[63:0] ← IF (SRC1[63]) Load_64(mem) ELSE 0
DEST[127:64] ← IF (SRC1[127]) Load_64(mem + 16) ELSE 0
DEST[VLMAX-1:128] ← 0</pre>
<p><strong>VMASKMOVPD - 256-bit load</strong></p>
<pre>DEST[63:0] ← IF (SRC1[63]) Load_64(mem) ELSE 0
DEST[127:64] ← IF (SRC1[127]) Load_64(mem + 8) ELSE 0
DEST[195:128] ← IF (SRC1[191]) Load_64(mem + 16) ELSE 0
DEST[255:196] ← IF (SRC1[255]) Load_64(mem + 24) ELSE 0</pre>
<p><strong>VMASKMOVPS - 128-bit store</strong></p>
<pre>IF (SRC1[31]) DEST[31:0] ← SRC2[31:0]
IF (SRC1[63]) DEST[63:32] ← SRC2[63:32]
IF (SRC1[95]) DEST[95:64] ← SRC2[95:64]
IF (SRC1[127]) DEST[127:96] ← SRC2[127:96]</pre>
<p><strong>VMASKMOVPS - 256-bit store</strong></p>
<pre>IF (SRC1[31]) DEST[31:0] ← SRC2[31:0]
IF (SRC1[63]) DEST[63:32] ← SRC2[63:32]
IF (SRC1[95]) DEST[95:64] ← SRC2[95:64]
IF (SRC1[127]) DEST[127:96] ← SRC2[127:96]
IF (SRC1[159]) DEST[159:128] ←SRC2[159:128]
IF (SRC1[191]) DEST[191:160] ← SRC2[191:160]
IF (SRC1[223]) DEST[223:192] ← SRC2[223:192]
IF (SRC1[255]) DEST[255:224] ← SRC2[255:224]</pre>
<p><strong>VMASKMOVPD - 128-bit store</strong></p>
<pre>IF (SRC1[63]) DEST[63:0] ← SRC2[63:0]
IF (SRC1[127]) DEST[127:64] ←SRC2[127:64]</pre>
<p><strong>VMASKMOVPD - 256-bit store</strong></p>
<pre>IF (SRC1[63]) DEST[63:0] ← SRC2[63:0]
IF (SRC1[127]) DEST[127:64] ←SRC2[127:64]</pre>
<p><strong>VMASKMOVPS - 256-bit load</strong></p>
<pre>IF (SRC1[191]) DEST[191:128] ← SRC2[191:128]
IF (SRC1[255]) DEST[255:192] ← SRC2[255:192]</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>__m256  _mm256_maskload_ps(float const *a, __m256i mask)</p>
<p>void    _mm256_maskstore_ps(float *a, __m256i mask, __m256 b)</p>
<p>__m256d _mm256_maskload_pd(double *a, __m256i mask);</p>
<p>void    _mm256_maskstore_pd(double *a, __m256i mask, __m256d b);</p>
<p>__m128 _mm128_maskload_ps(float const *a, __m128i mask)</p>
<p>void    _mm128_maskstore_ps(float *a, __m128i mask, __m128 b)</p>
<p>__m128d _mm128_maskload_pd(double *a, __m128i mask);</p>
<p>void    _mm128_maskstore_pd(double *a, __m128i mask, __m128d b);</p>
<h2>SIMD Floating-Point Exceptions</h2>
<p>None</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 6 (No AC# reported for any mask bit combinations);</p>
<p>additionally</p>
<table class="exception-table">
<tr>
<td>#UD</td>
<td>If VEX.W = 1.</td></tr></table></body></html>