<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>VPSLLVD/VPSLLVQ — Variable Bit Shift Left Logical </title></head>
<body>
<h1>VPSLLVD/VPSLLVQ — Variable Bit Shift Left Logical</h1>
<table>
<tr>
<th>Opcode/Instruction</th>
<th>Op/En</th>
<th>64/32 -bit Mode</th>
<th>CPUID Feature Flag</th>
<th>Description</th></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W0 47 /r</p>
<p>VPSLLVD <em>xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Shift bits in doublewords in <em>xmm2</em> left by amount speci-fied in the corresponding element of <em>xmm3/m128</em> while shifting in 0s.</td></tr>
<tr>
<td>
<p>VEX.NDS.128.66.0F38.W1 47 /r</p>
<p>VPSLLVQ<em> xmm1, xmm2, xmm3/m128</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Shift bits in quadwords in <em>xmm2</em> left by amount speci-fied in the corresponding element of<em> xmm3/m128</em> while shifting in 0s.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W0 47 /r</p>
<p>VPSLLVD <em>ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Shift bits in doublewords in <em>ymm2</em> left by amount speci-fied in the corresponding element of <em>ymm3/m256</em> while shifting in 0s.</td></tr>
<tr>
<td>
<p>VEX.NDS.256.66.0F38.W1 47 /r</p>
<p>VPSLLVQ<em> ymm1, ymm2, ymm3/m256</em></p></td>
<td>RVM</td>
<td>V/V</td>
<td>AVX2</td>
<td>Shift bits in quadwords in <em>ymm2</em> left by amount speci-fied in the corresponding element of <em>ymm3/m256</em> while shifting in 0s.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>RVM</td>
<td>ModRM:reg (w)</td>
<td>VEX.vvvv</td>
<td>ModRM:r/m (r)</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Shifts the bits in the individual data elements (doublewords, or quadword) in the first source operand to the left by the count value of respective data elements in the second source operand. As the bits in the data elements are shifted left, the empty low-order bits are cleared (set to 0).</p>
<p>The count values are specified individually in each data element of the second source operand. If the unsigned integer value specified in the respective data element of the second source operand is greater than 31 (for double-words), or 63 (for a quadword), then the destination data element are written with 0.</p>
<p>VEX.128 encoded version: The destination and first source operands are XMM registers. The count operand can be either an XMM register or a 128-bit memory location. Bits (VLMAX-1:128) of the corresponding YMM register are zeroed.</p>
<p>VEX.256 encoded version: The destination and first source operands are YMM registers. The count operand can be either an YMM register or a 256-bit memory location.</p>
<h2>Operation</h2>
<p><strong>VPSLLVD (VEX.128 version)</strong></p>
<pre>COUNT_0 ← SRC2[31 : 0]
    (* Repeat Each COUNT_i for the 2nd through 4th dwords of SRC2*)
COUNT_3 ← SRC2[127 : 96];
IF COUNT_0 &lt; 32 THEN
DEST[31:0] ← ZeroExtend(SRC1[31:0] &lt;&lt; COUNT_0);
ELSE
DEST[31:0] ← 0;
    (* Repeat shift operation for 2nd through 4th dwords *)
IF COUNT_3 &lt; 32 THEN
DEST[127:96] ← ZeroExtend(SRC1[127:96] &lt;&lt; COUNT_3);
ELSE
DEST[127:96] ← 0;
DEST[VLMAX-1:128] ← 0;</pre>
<p><strong>VPSLLVD (VEX.256 version)</strong></p>
<pre>COUNT_0 ← SRC2[31 : 0];
    (* Repeat Each COUNT_i for the 2nd through 7th dwords of SRC2*)
COUNT_7 ← SRC2[255 : 224];
IF COUNT_0 &lt; 32 THEN
DEST[31:0] ← ZeroExtend(SRC1[31:0] &lt;&lt; COUNT_0);
ELSE
DEST[31:0] ← 0;
    (* Repeat shift operation for 2nd through 7th dwords *)
IF COUNT_7 &lt; 32 THEN
DEST[255:224] ← ZeroExtend(SRC1[255:224] &lt;&lt; COUNT_7);
ELSE
DEST[255:224] ← 0;</pre>
<p><strong>VPSLLVQ (VEX.128 version)</strong></p>
<pre>COUNT_0 ← SRC2[63 : 0];
COUNT_1 ← SRC2[127 : 64];
IF COUNT_0 &lt; 64THEN
DEST[63:0] ← ZeroExtend(SRC1[63:0] &lt;&lt; COUNT_0);
ELSE
DEST[63:0] ← 0;
IF COUNT_1 &lt; 64 THEN
DEST[127:64] ← ZeroExtend(SRC1[127:64] &lt;&lt; COUNT_1);
ELSE
DEST[127:96] ← 0;
DEST[VLMAX-1:128] ← 0;</pre>
<p><strong>VPSLLVQ (VEX.256 version)</strong></p>
<pre>COUNT_0 ← SRC2[5 : 0];
    (* Repeat Each COUNT_i for the 2nd through 4th dwords of SRC2*)
COUNT_3 ← SRC2[197 : 192];
IF COUNT_0 &lt; 64THEN
DEST[63:0] ← ZeroExtend(SRC1[63:0] &lt;&lt; COUNT_0);
ELSE
DEST[63:0] ← 0;
    (* Repeat shift operation for 2nd through 4th dwords *)
IF COUNT_3 &lt; 64 THEN
DEST[255:192] ← ZeroExtend(SRC1[255:192] &lt;&lt; COUNT_3);
ELSE
DEST[255:192] ← 0;</pre>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>VPSLLVD: __m256i _mm256_sllv_epi32 (__m256i m, __m256i count)</p>
<p>VPSLLVD: __m128i _mm_sllv_epi32 (__m128i m, __m128i count)</p>
<p>VPSLLVQ: __m256i _mm256_sllv_epi64 (__m256i m, __m256i count)</p>
<p>VPSLLVQ: __m128i _mm_sllv_epi64 (__m128i m, __m128i count)</p>
<h2>SIMD Floating-Point Exceptions</h2>
<p>None</p>
<h2>Other Exceptions</h2>
<p>See Exceptions Type 4</p></body></html>