<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<link href="style.css" type="text/css" rel="stylesheet">
<title>XRSTOR—Restore Processor Extended States </title></head>
<body>
<h1>XRSTOR—Restore Processor Extended States</h1>
<table>
<tr>
<th>Opcode</th>
<th>Instruction</th>
<th>Op/En</th>
<th>64-Bit Mode</th>
<th>Compat/Leg Mode</th>
<th>Description</th></tr>
<tr>
<td>0F AE /5</td>
<td>XRSTOR <em>mem</em></td>
<td>M</td>
<td>Valid</td>
<td>Valid</td>
<td>Restore state components specified by EDX:EAX from <em>mem</em>.</td></tr>
<tr>
<td>REX.W+ 0F AE /5</td>
<td>XRSTOR64 <em>mem</em></td>
<td>M</td>
<td>Valid</td>
<td>N.E.</td>
<td>Restore state components specified by EDX:EAX from <em>mem</em>.</td></tr></table>
<h3>Instruction Operand Encoding</h3>
<table>
<tr>
<td>Op/En</td>
<td>Operand 1</td>
<td>Operand 2</td>
<td>Operand 3</td>
<td>Operand 4</td></tr>
<tr>
<td>M</td>
<td>ModRM:r/m (r)</td>
<td>NA</td>
<td>NA</td>
<td>NA</td></tr></table>
<h2>Description</h2>
<p>Performs a full or partial restore of processor state components from the XSAVE area located at the memory address specified by the source operand. The implicit EDX:EAX register pair specifies a 64-bit instruction mask. The specific state components restored correspond to the bits set in the requested-feature bitmap (RFBM), which is the logical-AND of EDX:EAX and XCR0.</p>
<p>The format of the XSAVE area is detailed in Section 13.4, “XSAVE Area,” of <em>Intel® 64 and IA-32 Architectures Soft-ware Developer’s Manual, Volume 1</em>.</p>
<p>Section 13.7, “Operation of XRSTOR,” of <em>Intel® 64 and IA-32 Architectures Software Developer’s Manual, Volume 1</em> provides a detailed description of the operation of the XRSTOR instruction. The following items provide a high-level outline:</p>
<p>for which RFBM[<em>i</em>] = 0.</p>
<p><em>i</em></p>
<p>Use of a source operand not aligned to 64-byte boundary (for 64-bit and 32-bit modes) results in a general-protec-tion (#GP) exception. In 64-bit mode, the upper 32 bits of RDX and RAX are ignored.</p>
<h2>Operation</h2>
<pre>RFBM ← XCR0 AND EDX:EAX;
                                    /* bitwise logical AND */
COMPMASK ← XCOMP_BV field from XSAVE header;
RSTORMASK ← XSTATE_BV field from XSAVE header;
IF in VMX non-root operation
    THEN VMXNR ← 1;
1.
    There is an exception if RFBM[1] = 0 and RFBM[2] = 1. In this case, the standard form of XRSTOR will load MXCSR from memory, even though MXCSR is part of state component 1 — SSE. The compacted form of XRSTOR does not make this exception.
    ELSE VMXNR ← 0;
FI;
LAXA ← linear address of XSAVE area;
IF COMPMASK[63] = 0
    THEN
         /* Standard form of XRSTOR */
         If RFBM[0] = 1
              THEN
                    IF RSTORMASK[0] = 1
                         THEN load x87 state from legacy region of XSAVE area;
                         ELSE initialize x87 state;
                    FI;
         FI;
         If RFBM[1] = 1
              THEN
                    IF RSTORMASK[1] = 1
                         THEN load XMM registers from legacy region of XSAVE area;
                         ELSE set all XMM registers to 0;
                    FI;
         FI;
         If RFBM[2] = 1
              THEN
                    IF RSTORMASK[2] = 1
                         THEN load AVX state from extended region (standard format) of XSAVE area;
                         ELSE initialize AVX state;
                    FI;
         FI;
         If RFBM[1] = 1 or RFBM[2] = 1
              THEN load MXCSR from legacy region of XSAVE area;
         FI;
FI;
    ELSE
         /* Compacted form of XRSTOR */
         IF CPUID.(EAX=0DH,ECX=1):EAX.XSAVEC[bit 1] = 0
              THEN
                         /* compacted form not supported */
                    #GP(0);
         FI;
         If RFBM[0] = 1
              THEN
                    IF RSTORMASK[0] = 1
                         THEN load x87 state from legacy region of XSAVE area;
                         ELSE initialize x87 state;
                    FI;
         FI;
         If RFBM[1] = 1
              THEN
                    IF RSTORMASK[1] = 1
                         THEN load SSE state from legacy region of XSAVE area;
                         ELSE initialize SSE state;
                    FI;
         FI;
         If RFBM[2] = 1
              THEN
                    IF RSTORMASK[2] = 1
                         THEN load AVX state from extended region (compacted format) of XSAVE area;
                         ELSE initialize AVX state;
                    FI;
         FI;
FI;
XRSTOR_INFO ← (cid:162)CPL,VMXNR,LAXA,COMPMASK(cid:178);</pre>
<h2>Flags Affected</h2>
<p>None.</p>
<h2>Intel C/C++ Compiler Intrinsic Equivalent</h2>
<p>XRSTOR:</p>
<p>void _xrstor( void * , unsigned __int64);</p>
<p>XRSTOR:</p>
<p>void _xrstor64( void * , unsigned __int64);</p>
<h2>Protected Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>
<p>If a memory operand effective address is outside the CS, DS, ES, FS, or GS segment limit.</p>
<p>If a memory operand is not aligned on a 64-byte boundary, regardless of segment.</p>
<p>If bit 63 of the XCOMP_BV field of the XSAVE header is 1 and CPUID.(EAX=0DH,ECX=1):EAX.XSAVEC[bit 1] = 0.</p>
<p>If the standard form is executed and a bit in XCR0 is 0 and the corresponding bit in the XSTATE_BV field of the XSAVE header is 1.</p>
<p>If the standard form is executed and bytes 23:8 of the XSAVE header are not all zero.</p>
<p>If the compacted form is executed and a bit in XCR0 is 0 and the corresponding bit in the XCOMP_BV field of the XSAVE header is 1.</p>
<p>If the compacted form is executed and a bit in the XCOMP_BV field in the XSAVE header is 0 and the corresponding bit in the XSTATE_BV field is 1.</p>
<p>If the compacted form is executed and bytes 63:16 of the XSAVE header are not all zero.</p>
<p>If attempting to write any reserved bits of the MXCSR register with 1.</p></td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory operand effective address is outside the SS segment limit.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#NM</td>
<td>If CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:ECX.XSAVE[bit 26] = 0.</p>
<p>If CR4.OSXSAVE[bit 18] = 0.</p>
<p>If any of the LOCK, 66H, F3H or F2H prefixes is used.</p></td></tr>
<tr>
<td>#AC</td>
<td>If this exception is disabled a general protection exception (#GP) is signaled if the memory operand is not aligned on a 16-byte boundary, as described above. If the alignment check exception (#AC) is enabled (and the CPL is 3), signaling of #AC is not guaranteed and may vary with implementation, as follows. In all implementations where #AC is not signaled, a general protection exception is signaled in its place. In addition, the width of the alignment check may also vary with implementation. For instance, for a given implementation, an align-ment check exception might be signaled for a 2-byte misalignment, whereas a general protec-tion exception might be signaled for all other misalignments (4-, 8-, or 16-byte misalignments).</td></tr></table>
<h2>Real-Address Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP</td>
<td>
<p>If a memory operand is not aligned on a 64-byte boundary, regardless of segment.</p>
<p>If any part of the operand lies outside the effective address space from 0 to FFFFH.</p>
<p>If bit 63 of the XCOMP_BV field of the XSAVE header is 1 and CPUID.(EAX=0DH,ECX=1):EAX.XSAVEC[bit 1] = 0.</p>
<p>If the standard form is executed and a bit in XCR0 is 0 and the corresponding bit in the XSTATE_BV field of the XSAVE header is 1.</p>
<p>If the standard form is executed and bytes 23:8 of the XSAVE header are not all zero.</p>
<p>If the compacted form is executed and a bit in XCR0 is 0 and the corresponding bit in the XCOMP_BV field of the XSAVE header is 1.</p>
<p>If the compacted form is executed and a bit in the XCOMP_BV field in the XSAVE header is 0 and the corresponding bit in the XSTATE_BV field is 1.</p>
<p>If the compacted form is executed and bytes 63:16 of the XSAVE header are not all zero.</p>
<p>If attempting to write any reserved bits of the MXCSR register with 1.</p></td></tr>
<tr>
<td>#NM</td>
<td>If CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:ECX.XSAVE[bit 26] = 0.</p>
<p>If CR4.OSXSAVE[bit 18] = 0.</p>
<p>If any of the LOCK, 66H, F3H or F2H prefixes is used.</p></td></tr></table>
<h2>Virtual-8086 Mode Exceptions</h2>
<p>Same exceptions as in protected mode</p>
<h2>Compatibility Mode Exceptions</h2>
<p>Same exceptions as in protected mode.</p>
<h2>64-Bit Mode Exceptions</h2>
<table class="exception-table">
<tr>
<td>#GP(0)</td>
<td>
<p>If a memory address is in a non-canonical form.</p>
<p>If a memory operand is not aligned on a 64-byte boundary, regardless of segment.</p>
<p>If bit 63 of the XCOMP_BV field of the XSAVE header is 1 and CPUID.(EAX=0DH,ECX=1):EAX.XSAVEC[bit 1] = 0.</p>
<p>If the standard form is executed and a bit in XCR0 is 0 and the corresponding bit in the XSTATE_BV field of the XSAVE header is 1.</p>
<p>If the standard form is executed and bytes 23:8 of the XSAVE header are not all zero.</p>
<p>If the compacted form is executed and a bit in XCR0 is 0 and the corresponding bit in the XCOMP_BV field of the XSAVE header is 1.</p>
<p>If the compacted form is executed and a bit in the XCOMP_BV field in the XSAVE header is 0 and the corresponding bit in the XSTATE_BV field is 1.</p>
<p>If the compacted form is executed and bytes 63:16 of the XSAVE header are not all zero.</p>
<p>If attempting to write any reserved bits of the MXCSR register with 1.</p></td></tr>
<tr>
<td>#SS(0)</td>
<td>If a memory address referencing the SS segment is in a non-canonical form.</td></tr>
<tr>
<td>#PF(fault-code)</td>
<td>If a page fault occurs.</td></tr>
<tr>
<td>#NM</td>
<td>If CR0.TS[bit 3] = 1.</td></tr>
<tr>
<td>#UD</td>
<td>
<p>If CPUID.01H:ECX.XSAVE[bit 26] = 0.</p>
<p>If CR4.OSXSAVE[bit 18] = 0.</p>
<p>If any of the LOCK, 66H, F3H or F2H prefixes is used.</p></td></tr>
<tr>
<td>#AC</td>
<td>If this exception is disabled a general protection exception (#GP) is signaled if the memory operand is not aligned on a 16-byte boundary, as described above. If the alignment check exception (#AC) is enabled (and the CPL is 3), signaling of #AC is not guaranteed and may vary with implementation, as follows. In all implementations where #AC is not signaled, a general protection exception is signaled in its place. In addition, the width of the alignment check may also vary with implementation. For instance, for a given implementation, an align-ment check exception might be signaled for a 2-byte misalignment, whereas a general protec-tion exception might be signaled for all other misalignments (4-, 8-, or 16-byte misalignments).</td></tr></table></body></html>