@import url("../../ext/golden-layout/src/css/goldenlayout-dark-theme.css");
@import url("bootstrap.dark.min.css");

.navbar-inverse {
    background-color: #333;
}

.navbar-inverse .navbar-brand {
    color: #aaa !important;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

button.btn.save-button {
    background-color: #eee;
    color: #000;
}

button.btn.save-button:hover {
    background-color: #ddd;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.125);
    color: #000;
}

.modal-content .well {
    border: 1px solid #474747;
    border-radius: 3px;
}

.opcode {
    color: #066 !important;
}

.opcode:nth-child(odd) {
    color: #060;
}

.highlighted {
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: #0000b0 !important;
}

.linked-code-decoration {
    background: #555657 !important;
}

.selectize-dropdown {
    color: #aaa !important;
    background-color: #666 !important;
}

.font-option {
    background: #303030;
}

.font-option:hover {
    background: #887788;
}

.font-option-active {
    background: #474747 !important;
}

.font-option-active:hover {
    background: #595959 !important;
}

.notification {
    background-color: gray;
}

.notification-error {
    background-color: #aa3333 !important;
    color: #000;
}

.notification-on {
    background-color: #33aa33 !important;
    color: black;
}

.notification-off {
    background-color: #222 !important;
    color: #fff;
}

/*.divider {
    background-color: #111!important;
}

.modal-content {
    color: #aaa !important;
    background-color: #333 !important;
    border: 1px solid #fff !important;
}

.modal-content .well {
    background-color: #333 !important;
}

.modal-content select {
    color: #aaa !important;
    background-color: #333 !important;
}

.modal-content .close {
    color: #aaa !important;
    opacity: 0.8 !important;
}

pre.content {
    color: #aaa !important;
    background-color: #333 !important;
}
*/

.bottom-bar {
    color: #aaa !important;
    background-color: #333 !important;
}

.filters button.btn {
    color: #000;
}

.filters button.btn:not(.active):hover {
    background-color: #eee;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.125);
    border: 2px solid #eee;
}

.filters button.btn.active:hover {
    background-color: #eee;
    box-shadow: none;
}

select {
    color: #000;
}
