block footer
  nav.bg-light
    if mobileViewer
      a.btn.link-primary.nodropdown-toggle#otherDropdown(role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Other

    .noscriptdropdown(aria-labelledby="otherDropdown")
      include ../menu-other.pug
