.header
  nav.navbar.navbar-godbolt.navbar-expand-md.navbar-light.bg-light
    include ../logo.pug
    #motd.navbar-nav.navbar-center.mr-auto.community-advert.d-none
      span.content
      | Thanks for using Compiler Explorer
    .navbar-nav.navbar-right
      if showSponsors
        li.nav-item.btn.btn-outline-primary#ces(data-toggle="modal")
          a(href=`${httpRoot}noscript/sponsors`) Sponsors
          include ../sponsor-icons.pug
