- var noscript = true
doctype html
html(lang="en")
  head
    block meta
        include ../meta.pug

    block styles
        style#theme

    block scripts
        if mobileViewer
            script(type="module" src=require("./static/noscript.ts"))
        if extraBodyClass === "dev"
            script(type="module" src="@vite/client")

  body(class=extraBodyClass)
    block header
        include header.pug
        include languages.pug

    block content
        #root

    block footer
        include footer.pug
