- var noscript = true
doctype html
html(lang="en")
  head
    block meta
        include ../meta.pug

    block styles
        style#theme

    block scripts
        if mobileViewer
            script(src=require("noscript.js"))

  body(class=extraBodyClass)
    block header
        include header.pug
        include languages.pug

    block content
        #root

    block footer
        include footer.pug
