@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~vis/dist/vis.css";

/* TEMP HACK: https://github.com/Microsoft/monaco-editor/issues/349 */
.quick-open-tree .row {
    margin-left: 0;
}

/* workaround high DPI issues in monaco. SEE: https://github.com/compiler-explorer/compiler-explorer/issues/1488 */
.monaco-editor .margin-view-overlays .line-numbers {
    cursor: default !important;
}

/*
 * https://github.com/Microsoft/monaco-editor/issues/417
 * Safari 10.1, fails inherit correct visibility from parent when we change the visibility of parent element from hidden to inherit, in this particular case.
 */
.monaco-editor-hover .monaco-scrollable-element {
    visibility: visible;
}

.monaco-editor .asm-label-link {
    text-decoration: underline;
    cursor: pointer;
}

body {
    overflow: hidden;
}

.navbar-godbolt {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img.logo-overlay {
    position: absolute;
    top: 0;
    display: block;
}

.btn-light:focus {
    box-shadow: none !important;
}

.top-bar .btn-light:disabled,
.bottom-bar .btn-light:disabled {
    cursor: not-allowed;
}

.float-link {
    z-index: 100;
    position: absolute;
    bottom: 0.5em;
    right: 2.5em;
    display: inline-block;
    padding: 0.25em;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.popover.libs-popover {
    max-width: 800px !important;
    max-height: 615px !important;
}

.template {
    display: none;
}

.compiler-picker {
    min-width: 14em;
}

.compiler-picker .selectize-input {
    text-align: center;
}

.function-picker {
    min-width: 14em;
    width: 99%;
}

.gccdump-pass-picker {
    min-width: 14em;
    width: 99%;
}

li.tweet {
    padding: 3px 20px;
}

.diff-picker {
    max-width: 20em;
    min-width: 14em;
}

.difftype-picker {
    max-width: 10em;
    min-width: 10em;
}

.diff-picker .compiler {
    font-weight: bold;
}

.diff-picker .options {
    padding-left: 0.5em;
    font-size: small;
}

.diff-picker .meta {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.diff-picker .meta li {
    padding: 0;
    display: inline;
    margin: 0 10px 0 0;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lm_splitter.lm_vertical .lm_drag_handle {
    height: 10px;
    top: -2.5px;
}

.lm_splitter.lm_horizontal .lm_drag_handle {
    width: 10px;
    left: -2.5px;
}

pre.content {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: auto;
}

pre.content p {
    margin: 0;
}

pre.content.wrap {
    word-break: keep-all;
    overflow-x: hidden;
    white-space: pre-wrap;
}

pre.content.wrap * {
    word-wrap: break-word;
    white-space: pre-wrap; /* Preserve sequences of white space */
}

.compile-time {
    font-size: x-small;
    font-style: italic;
}

.url-parse-info {
    font-size: small;
    margin-top: 1em;
    font-style: italic;
}

.libs-container ul {
    float: left;
    clear: none;
}

.lib-list {
    margin: 3px;
    padding: 3px;
    text-align: left;
}

.lib-header {
    padding-left: 1px;
}

.lib-item {
    list-style: none;
}

.lib-checkbox {
    display: inline;
}

.lib-label {
    display: inline;
    padding: 5px 0 5px 5px;
}

.lib-separator {
    margin: 3px 0 3px 0;
    padding: 0 2px 0 2px;
}

.small-v-scrollable {
    max-height: 8em;
    overflow-y: auto;
}

.linked-code-decoration-margin {
    width: 5px !important;
    left: 3px;
}

.linked-code-decoration-column {
    font-weight: 600;
}

.modal { /* maximum for all modal dialogs */
    width: 100%;
    height: 100%;
    padding: 1.75rem;
}

.modal-dialog {
    max-width: max-content; /* override bootstrap width */
    margin: 0 auto;
}

.modal-content {
    max-width: max-content; /* modal boxes are at most as wide as their content - smaller width is handled by the browser and flexbox */
    max-height: calc(100vh - 4rem); /* modal box height scales with the viewportheight and leaves space for borders */
}

#history {
    .modal-content {
        min-width: calc(80vw);  /* force min-width on html element containing history editor */
    }
}

.modal-body {
    min-height: 200px;
    overflow-y: auto; /* make body scrollable -> keep Header & Footer onscreen, if possible */
}

.modal-content .well {
    border: 1px solid;
    border-radius: 3px;
}

.modal-footer {
    border-top: none;
}

.navbar-nav.navbar-center {
    float: left; /* by default */
}

@media (min-width: 1300px) {
    .navbar-nav.navbar-center {
        float: none;
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

.community-advert {
    display: none;
    max-width: 300px;
    height: 44px;
    margin-top: 3px;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

@media (min-width: 1000px) {
    .community-advert {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .community-advert {
        max-width: 500px;
    }
}

.community-hide {
    padding-left: 5px;
}

.community-hide button {
    font-size: small;
    opacity: 1;
    color: #67c52a;
}

#notifications {
    max-width: 33%;
    position: fixed;
    bottom: 3px;
    right: 5px;
}

.notification {
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.font-size-list {
    min-width: 43px !important;
    max-height: 40% !important;
    overflow-y: scroll;
    width: auto;
}

.font-option {
    text-align: center;
}

.opt-decoration {
    width: 8px !important;
    left: 3px;
}

.compiler-list {
    display: block;
    overflow: auto;
}

.cfg-toolbar table {
    width: 100%;
}

.graph-placeholder {
    width: 100%;
    height: 100%;
}

.clear-cache {
    position: absolute;
    right: 0;
}

.change-language {
    line-height: 14px;
    min-width: 100px !important;
}

.short-compiler-name {
    font-size: 12px;
    padding-left: 3px;
}

.header-fontscale {
    padding-right: 1em;
}

.local-file {
    display: none;
}

.save-file {
    display: none;
}

.save-btn {
    margin-left: 5px;
}

button.dropdown-item.btn.btn-light.btn-sm {
    margin-left: 0 !important;
}

label#vim-label {
    top: 3px;
}

input.vim-check {
    margin-bottom: 4px
}

.opens-new-window {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.lib-described {
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: help;
}

.program-exec-output {
    font-family: "Courier New", Courier, monospace;
    padding-left: 2%;
}

.lib-arrow {
    display: inline-table;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin-right: 2px;
}

.share-disabled {
    cursor: not-allowed;
}

.share-item {
    display: block;
    overflow: auto;
    padding: 3px;
}

.share-item:last-child {
    border-radius: 0 0 3px 3px;
}

.share-item-logo {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

/* While we find a better solution, lets up this a bit */
.compiler-picker .selectize-dropdown-content {
    max-height: 300px !important;
}

.compiler-picker .selectize-dropdown-content .option {
    padding: 0 10px;
}

.compiler-options-popover {
    font-family: monospace;
}

.navbar-nav a.nav-link {
    font-size: 14px;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

.navbar-nav a.nav-link:hover {
    border-radius: 5px;
}

kbd {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
}

#simplecook {
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
}

#simplecook .message {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
}

.new-cookie-msg {
    display: inline;
    margin: 0 2px 0 2px;
}

.dropdown-icon {
    width: 25px;
    text-align: center;
    margin-right: 6px;
}

#socialshare {
    margin-left: -3px;
}

.linked-compiler-output-line {
    cursor: pointer;
}

.lm_content {
    overflow: visible;
}

.lm_header {
    /* Needed to prevent the tab selection dropdown getting stuck behind other elements */
    z-index: 3 !important;
    height: 20px !important;
}

@media (max-width: 768px) {
    .lm_header {
        height: 50px !important;
    }

    .lm_header .lm_tabs {
        height: 100%;
    }

    .lm_header .lm_tabs .lm_tab {
        height: 31px;
        padding-top: 15px;
    }

    .lm_controls li {
        padding-top: 20px;
        transform: scale(1.8);
        padding-right: 15px;
    }

    .lm_controls .lm_tabdropdown {
        padding-top: 8px;
    }

    .lm_header .lm_tabdropdown_list .lm_tab {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.open-in-cppinsights *,
.open-in-quickbench * {
    vertical-align: middle;
}

/* Fix the width to allow bootstrap's right-justify to work, else it truncates. See https://github.com/compiler-explorer/compiler-explorer/issues/1863 */
div.populararguments div.dropdown-menu {
    width: 300px;
}

.ces-content-root {
    min-height: 100px;
    max-height: calc(100vh - 306px); /* works on my machine :) - 306px = the height of the footer + borders/margins/paddings - guessed/tried out */
    overflow: auto; /* move scrollbar into sponsor part - keep quickaccess buttons on screen */
}

@media (max-width: 1000px) {
    .ces-content-root {
        font-size: 60%;
    }
}

.ces-item-block:not(:first-child) {
    margin-top: 6em;
}

.ces-top {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 60%
}

@media (min-height: 700px) {
    /* Scales on the top-level object to try and fit enough in shorter screens */
    .ces-top {
        font-size: 75%;
    }
}

@media (min-height: 1000px) {
    /* Scales on the top-level object to try and fit enough in shorter screens */
    .ces-top {
        font-size: 90%;
    }
}

.ces-item-title {
    font-size: 200%;
    font-weight: bold;
}

.ces-item-title img {
    margin: 0.5em;
}
.ces-level-selectors {
    padding-bottom: 5px;
}

.ces {
    flex-grow: 1;
    margin: 2px;
    font-size: 70%;
}

.ces button {
    padding: 4px;
    height: 100%;
}

.corporate .ces {
    font-size: 165%;
    height: 9em;
}

.legendary .ces {
    font-size: 165%;
    height: 7em;
}

.legendary .ces button {
    padding: 1em;
}

.ces-logo {
    max-height: 1.5em;
}

.ces-logo-large {
    max-height: 3em;
}

.ces-icons {
    float: right;
    height: 1.5em;
}

.ces-icon {
    margin-left: 0.3em;
    height: 1.5em;
}

.ces-item-description {
    margin: auto;
}

#library-selection .modal-body {
    overflow-y: scroll;
}

#library-selection .lib-search-button {
    margin-left: 10px;
}

#library-selection .libs-how-to-use {
    font-size: smaller;
}

#library-selection .libs-selected-col {
    padding: 0 15px 0 0;
    min-width: 250px;
    max-width: 250px;
}

#library-selection .libs-results-col {
    padding: 0 0 0 0;
    min-width: 450px;
    max-width: 450px;
}

#library-selection .lib-results-items .card {
    margin-bottom: 3px;
}

#library-selection.mobile .lib-results-items .card-body {
    display: none;
}

#library-selection.mobile .libs-results-col {
    min-width: 250px;
    max-width: 450px;
}

#library-selection .libs-results-col span.lib-version {
    float: right;
}

#library-selection .libs-results-col span.lib-website {
    float: left;
}

#library-selection .libs-results-col span.lib-fav {
    float: right;
}

#library-selection .libs-favorites-col {
    padding: 0 0 0 15px;
    min-width: 200px;
    max-width: 200px;
}

#library-selection.mobile .libs-favorites-col {
    display: none;
}

html[data-theme=default] {
    @import "themes/default-theme";
}

html[data-theme=dark] {
    @import "themes/dark-theme";
    background-color: #333 !important;
}
