.template {
    display: none;
}

.compiler {
    width: 10em;
}

.CodeMirror {
    font-size: 10pt;
}

.options {
    width: 98%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn.active {
    color: #fff;
    border-color: #46b8da;
    background-color: #5bc0de;
}

#changetip_tipme_button {
    width: 80px;
}

#flattr_button {
    width: 120px;
}

.inline-msg {
    font-family: arial;
    font-size: 70%;
    padding: 2px 5px 3px;
}

.inline-msg .compiler {
    font-style: italic;
    float: right;
}

span.icon {
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 7px;
}

.error {
    background: #faa !important;
    color: #a00;
}

.error span.icon {
    color: white;
    background-color: red;
    font-weight: bold;
}

.warning {
    background: #ffa !important;
    color: #440;
}

.warning span.icon {
    color: black;
    background-color: yellow;
}

.note {
    background: #aaf !important;
    color: #00a;
}

.note span.icon {
    color: white;
    background-color: blue;
}
