@import url("ext/bootstrap/dist/css/bootstrap.min.css");
@import url("ext/golden-layout/src/css/goldenlayout-base.css");
@import url("ext/golden-layout/src/css/goldenlayout-light-theme.css");
@import url("ext/selectize/dist/css/selectize.bootstrap2.css");
@import url("ext/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css");
@import url("colours.css");

/* TEMP HACK: https://github.com/Microsoft/monaco-editor/issues/349 */
.quick-open-tree .row {
    margin-left: 0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 2px;
}

#lang-dropdown {
    min-width: 5em;
}

.navbar-inverse {
    background-color: #226;
}

.navbar-inverse .navbar-brand {
    color: #ddd;
    font-weight: bold;
}

.float-link {
    z-index: 100;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    display: inline-block;
    padding: 0.25em;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

.template {
    display: none;
}

.compiler-picker {
    min-width: 14em;
}

.diff-picker {
    max-width: 20em;
    width: 20em;
}

.diff-picker .compiler {
    font-weight: bold;
}

.diff-picker .options {
    padding-left: 0.5em;
    font-size: small;
}

.diff-picker .meta {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.diff-picker .meta li {
    padding: 0;
    display: inline;
    margin: 0 10px 0 0;
}

input.options {
    width: 98%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn.active {
    color: #fff !important;
    border-color: #46b8da !important;
    background-color: #5bc0de !important;
}

.address {
    width: 5em;
    font-size: smaller;
    text-align: left;
    display: inline-block;
}

.opcodes {
    width: 6em;
    font-size: smaller;
    text-align: left;
    display: inline-block;
}

.opcode {
    color: #066;
    margin-right: 0.2em;
}

.opcode:nth-child(odd) {
    color: #060;
}

.highlighted {
    background-color: rgba(255, 0, 0, 0.2);
    color: #0000b0;
    font-weight: bold;
}

.decrease-font-size span.glyphicon {
    font-size: 70%;
}

.reset-font-size span.glyphicon {
    font-size: 90%;
}

.increase-font-size span.glyphicon {
    font-size: 110%;
}

.lm_splitter.lm_vertical .lm_drag_handle {
    height: 10px;
    top: -2.5px;
}

.lm_splitter.lm_horizontal .lm_drag_handle {
    width: 10px;
    left: -2.5px;
}

pre.content {
    width: 100%;
    height: 100%;
}

.compile-time {
    font-size: x-small;
    font-style: italic;
}

.url-parse-info {
    font-size: small;
    margin-top: 1em;
    font-style: italic;
}

.small-v-scrollable {
    max-height: 8em;
    overflow-y: auto;
}

.linked-code-decoration {
    background: lightblue;
    width: 5px !important;
    left: 3px;
}

.font-option {
    background: white;
}

.font-option:hover {
    background: lightblue;
}

.font-option-active {
    background: #226699 !important;
}

.font-option-active:hover {
    background: #4477AA !important;
}

.notification {
    max-width: 33%;
    padding: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
    position: fixed;
    bottom: 3px;
    right: 5px;
    color: black;
}

.notification-error {
    background-color: indianred;
    color: white;
}
