@import url("ext/bootstrap/dist/css/bootstrap.min.css");
@import url("ext/golden-layout/src/css/goldenlayout-base.css");
@import url("ext/selectize/dist/css/selectize.bootstrap2.css");
@import url("ext/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css");
@import url("ext/vis/dist/vis.css");
@import url("colours.css");

/* TEMP HACK: https://github.com/Microsoft/monaco-editor/issues/349 */
.quick-open-tree .row {
    margin-left: 0;
}

/*
 * https://github.com/Microsoft/monaco-editor/issues/417
 * Safari 10.1, fails inherit correct visibility from parent when we change the visibility of parent element from hidden to inherit, in this particular case.
 */
.monaco-editor-hover .monaco-scrollable-element {
    visibility: visible;
}

.navbar {
    border-radius: 0;
    margin-bottom: 2px;
    height: 50px; /* needed to override the darkly settings */
}

.beta .navbar-brand::after {
    content: " (beta)"
}

#lang-dropdown {
    min-width: 5em;
}

.navbar-inverse .navbar-brand {
    font-weight: bold;
}

.nav.nav-tabs {
    margin-bottom: 3px !important;
}

.float-link {
    z-index: 100;
    position: absolute;
    bottom: 0.5em;
    right: 2.5em;
    display: inline-block;
    padding: 0.25em;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.template {
    display: none;
}

.compiler-picker {
    min-width: 14em;
}

.function-picker {
    min-width: 14em;
    width: 99%;
}

.gccdump-pass-picker {
    min-width: 14em;
    width: 99%;
}


li.tweet {
    padding: 3px 20px;
}

.diff-picker {
    max-width: 20em;
    width: 20em;
}

.diff-picker .compiler {
    font-weight: bold;
}

.diff-picker .options {
    padding-left: 0.5em;
    font-size: small;
}

.diff-picker .meta {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.diff-picker .meta li {
    padding: 0;
    display: inline;
    margin: 0 10px 0 0;
}

input.options {
    width: 98%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.address {
    display: inline;
}

.opcodes {
    display: inline;
}

.opcode {
    margin-right: 0.2em;
}

.binary-side {
    font-size: xx-small;
    text-align: left;
    float: left;
    clear: none;
}

.highlighted {
    font-weight: bold;
}

.lm_splitter.lm_vertical .lm_drag_handle {
    height: 10px;
    top: -2.5px;
}

.lm_splitter.lm_horizontal .lm_drag_handle {
    width: 10px;
    left: -2.5px;
}

pre.content {
    width: 100%;
    height: 100%;
}

.compile-time {
    font-size: x-small;
    font-style: italic;
}

.url-parse-info {
    font-size: small;
    margin-top: 1em;
    font-style: italic;
}

.libs-container ul {
    float: left;
    clear: none;
}

.lib-list {
    margin: 3px;
    padding: 3px;
    text-align: left;
}

.lib-header {
    padding-left: 1px;
}

.lib-item {
    list-style: none;
}

.lib-checkbox {
    display: inline;
}

.lib-label {
    display: inline;
    padding: 5px 0 5px 5px;
}

.lib-separator {
    margin: 3px 0 3px 0;
    padding: 0 2px 0 2px;
}

.small-v-scrollable {
    max-height: 8em;
    overflow-y: auto;
}

.linked-code-decoration-margin {
    width: 5px !important;
    left: 3px;
}

.linked-code-decoration-inline {
    font-weight: 600;
}

.modal-content .well {
    border: 1px solid;
    border-radius: 3px;
}

#notifications {
    max-width: 33%;
    position: fixed;
    bottom: 3px;
    right: 5px;
}

.notification {
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.font-size-list {
    min-width: 43px !important;
    width: auto;
}

.font-option {
    text-align: center;
}

.opt-decoration {
    width: 8px !important;
    left: 3px;
}

.compiler-list {
    display: block;
    overflow: auto;
}

.cfg-toolbar table {
    width: 100%;
}

.graph-placeholder {
    width: 100%;
    height: 100%;
}

.clear-cache {
    position: absolute;
    right: 0;
}

.change-language {
    line-height: 14px;
    min-width: 100px !important;
}

.pane-dropdown button {
    width: 100%;
    text-align: left;
}

.full-compiler-name {
    padding-left: 3px;
}
