body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sideBySide {
}

.options {
    background: #ddf;
    border-radius: 4px;
    padding: 8px;
}

.options label {
    display: inline-block;
}

.error {
    background: #faa !important;
}

.template {
    display: none;
}


li.social {
    padding: 4px;
}

.CodeMirror-scroll {
    min-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

.topbar {
    margin-top: 10px;
    padding: 6px;
    background: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.indented {
    margin-left: 36px;
}

.rainbow-0 { background: #ffa !important; }
.rainbow-1 { background: #faf !important; }
.rainbow-2 { background: #faa !important; }
.rainbow-3 { background: #aff !important; }
.rainbow-4 { background: #afa !important; }
.rainbow-5 { background: #aaf !important; }
.rainbow-6 { background: #77a !important; }
.rainbow-7 { background: #a77 !important; }
