@import url("~golden-layout/src/css/goldenlayout-dark-theme.css");

.navbar-inverse {
    background-color: #000;
}

.navbar-inverse .navbar-brand {
    color: #fff !important;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

.btn {
    color: #000 !important;
    border-color: #fff !important;
    background-color: #fff !important;
}

.btn:hover {
    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
    text-decoration: underline !important;
}

.btn.active {
    color: #fff !important;
    border-color: #fff !important;
    background-color: #000 !important;
}

.opcode {
    color: #aaa !important;
}

.opcode:nth-child(odd) {
    color: #fff;
}

.highlighted {
    background-color: #333 !important;
    color: #fff !important;
}

.linked-code-decoration {
    background: #fff !important;
}

.dropdown-menu {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff !important;
}

.dropdown-menu a {
    color: #fff !important;
}

.dropdown-menu a:hover {
    color: #000 !important;
}

.selectize-dropdown {
    color: #fff !important;
    background-color: #000 !important;
}

.font-option {
    background: #000;
    border: 1px solid #fff !important;
}

.font-option:hover {
    background: #aaa;
}

.font-option-active {
    background: #aaa !important;
}

.font-option-active:hover {
    background: #888 !important;
}

.notification {
    background-color: #fff;
}

.notification-error {
    background-color: red !important;
    color: white;
}

.notification-on {
    background-color: green !important;
    color: black;
}

.notification-off {
    background-color: gray !important;
    color: black;
}

.divider {
    background-color: #fff !important;
}

.modal-content {
    color: #fff !important;
    background-color: #000 !important;
    border: 1px solid #fff !important;
}

.modal-content .well {
    background-color: #000 !important;
}

.modal-content select {
    color: #fff !important;
    background-color: #000 !important;
}

.modal-content .close {
    color: #fff !important;
    opacity: 0.8 !important;
}

pre.content {
    color: #fff !important;
    background-color: #000 !important;
}

.bottom-bar {
    color: #fff !important;
    background-color: #000 !important;
}

.bottom-bar button {
    color: #000 !important;
    background-color: #fff !important;
}
