@import "~golden-layout/src/css/goldenlayout-dark-theme";

/*
 * replace low res golden-layout icons with svg recreations to improve high DPI displays
 * not all icons in golden-layout are used, so we don't replace all of them
 */
.lm_header .lm_tab .lm_close_tab {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23fff' d='M.45713 8.5429l-.44426-.44438 3.5955-3.5956L.00697.90152l.8944-.89463 3.6016 3.6015 3.6014-3.6015.88867.88867-3.6014 3.6015 3.6014 3.6015-.89449.89449-3.6015-3.6014-3.5957 3.5956z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_controls .lm_maximise {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23fff' d='M0 4.5V0h9v9H0zM8 5V2H1v6h7z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_controls .lm_close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23fff' d='M.45713 8.5429l-.44426-.44438 3.5955-3.5956L.00697.90152l.8944-.89463 3.6016 3.6015 3.6014-3.6015.88867.88867-3.6014 3.6015 3.6014 3.6015-.89449.89449-3.6015-3.6014-3.5957 3.5956z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_maximised .lm_controls .lm_maximise {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23fff' d='M1.0096 8.0019v-.99809h6.9807v1.9962H1.0096z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

body {
    background-color: #333 !important;
}

.navbar-light {
    background-color: #333 !important;
}

.navbar-light .navbar-nav li a {
    color: #fff !important;
}

.navbar-light .navbar-nav li a:hover {
    color: #fff !important;
    background-color: #23272b !important;
}

.navbar-light ul.nav li:hover {
    color: #fff !important;
    background-color: #23272b !important;
}

.navbar-light a.nav-link {
    border: rgb(140, 140, 140) 1px solid;
}

a.navbar-brand img.logo.inverse {
    display: block !important;
}

a.navbar-brand img.logo.normal {
    display: none !important;
}

.lm_header {
    background-color: #121212 !important;
}

.nav.nav-tabs li a {
    color: #eee !important;
    background-color: #666 !important;
}

.nav.nav-tabs li:not(.active) a {
    border-bottom: 1px solid #fff !important;
}

.nav.nav-tabs li.active a {
    background-color: #666 !important;
}

.float-link {
    color: #eee !important;
    background-color: rgba(128, 128, 128, 0.5) !important;
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5) !important;
}

.modal-header {
    color: #eee !important;
    background-color: #333 !important;
}

.modal-body {
    background-color: #333 !important;
    color: #eee !important;
}

.modal-content .well {
    background-color: #222 !important;
    color: #eee !important;
}

.modal-footer {
    background-color: #333 !important;
}

.linked-code-decoration-line {
    background: rgb(26, 53, 76) !important;
}

.linked-code-decoration-inline {
    background: #121212 !important;
}

.linked-code-decoration-margin {
    background: #433b4b !important;
}

.linked-code-decoration {
    background: #555657 !important;
}

.rainbow-decoration {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(0.00, red),
    color-stop(16%, orange),
    color-stop(32%, yellow),
    color-stop(48%, green),
    color-stop(60%, blue),
    color-stop(76%, indigo),
    color-stop(1.00, violet));
}

.selectize-control.single .selectize-input {
    color: #f2f2f2 !important;
    background: #666 linear-gradient(to bottom, #555, #222) !important;
    text-shadow: none !important;
}

.selectize-dropdown {
    color: #f2f2f2 !important;
    background-color: #303030 !important;
}

.selectize-control.single .selectize-input.disabled {
    color: #f2f2f2 !important;
    background-color: #383838 !important;
}

.dropdown-menu {
    color: #f2f2f2 !important;
    background-color: #303030 !important;
}

.dropdown-item {
    color: #eee !important;
    background-color: #303030;
}

.dropdown-item:hover {
    color: #fff !important;
    background-color: #23272b !important;
}

.notification {
    background-color: gray !important;
}

.notification-info {
    background-color: #f2f2f2 !important;
}

.notification-error {
    background-color: #aa3333 !important;
    color: #000;
}

.notification-on {
    background-color: #33aa33 !important;
    color: black;
}

.notification-off {
    background-color: #222 !important;
    color: #fff;
}

pre {
    color: #f2f2f2 !important;
}

pre.content {
    background-color: #1e1e1e !important;
}

pre.content.compiling {
    background-color: #101010 !important;
}

.bottom-bar {
    color: #aaa !important;
    background-color: #333 !important;
}

select {
    color: #000 !important;
}

input {
    color: #eee !important;
    background-color: #474747;
    border: 0 !important;
}

input:focus {
    color: #eee !important;
    background-color: #474747;
    border: 0 !important;
}

input.permalink {
    color: #eee !important;
    background-color: #474747;
    opacity: 1;
}

textarea.form-control {
    color: #eee !important;
    background-color: #474747;
    border: 0 !important;
}

.bg-light {
    background-color: #333 !important;
}

.btn-light {
    color: #e2e2e2 !important;
    background-color: #333 !important;
    border-color: #333 !important;
}

.btn-light.active {
    background-color: #235765 !important;
    color: #fff !important;
}

.btn-light.active:hover {
    background-color: #998899 !important;
}

.btn-light:hover {
    background-color: #23272b !important;
}

.btn-light:disabled {
    background-color: #575757 !important;
    color: #fff !important;
}

.btn-light:disabled:hover {
    background-color: #575757 !important;
}

.top-bar.btn-toolbar.bg-light {
    border-bottom: 1px solid #202122;
}

.bottom-bar.bg-light {
    border-top: 1px solid #202122;
}

.card {
    background-color: #1e1e1e !important;
    color: #f2f2f2 !important;
}

.analysis,
.mixed {
    background: #fdfd96 !important;
}

.passed {
    background: #77dd77 !important;
}

.missed {
    background: #ff6961 !important;
}

.conformance-wrapper {
    background-color: #1e1e1e !important;
}

.graph-placeholder {
    background-color: #1e1e1e !important;
}

.text-count {
    color: green !important;
}

.err-count {
    color: orange !important;
}

.optgroup-header {
    background-color: #555 !important;
    color: #EEE !important;
    text-shadow: none !important;
}

.commit-entry:nth-child(odd) {
    background-color: #222222 !important;
}

.commit-entry:nth-child(even) {
    background-color: #424242 !important;
}

.popover {
    border-color: #464545 !important;
}

.popover, .popover-content, .libs-container, .lib-list, .popover-body, .popover-header {
    background-color: #151515 !important;
    color: #f2f2f2 !important;
}

.lib-item {
    background-color: #333 !important;
}

#socialshare .share-twitter, .share-twitter {
    background-color: #1da1f2 !important;
    color: white !important;
}

#socialshare .share-reddit, .share-reddit {
    background-color: #ff4500 !important;
    color: white !important;
}

.share-disabled {
    color: #333 !important;
}

.community-advert {
    color: white;
    background: #474747 !important;
    border-color: #006400;
}

.community-advert button {
    opacity: 1;
    color: #006400;
    text-shadow: none;
}

.input-group-text {
    background-color: #a1a1a1 !important;
    border-color: #818181 !important;
}

.custom-select {
    background-color: #818181 !important;
}

kbd {
    border-color: #818181 !important;
    background-color: #979797 !important;
}

.prepend-options {
    border-color: #444 !important;
    background-color: #141414 !important;
}

.modal-content .card-body {
    background-color: #141414 !important;
}

#simplecook {
    background-color: #474747 !important;
}

.new-cookie-msg {
    color: white;
}

div.argmenuitem {
    max-width: 250px;
}

div.argmenuitem span.argtitle {
    font-weight: bold;
    display: block;
    overflow-x: hidden;
    overflow-anchor: visible;
    text-overflow: ellipsis;
}

div.argmenuitem span.argdescription {
    max-height: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-style: italic;
    font-size: smaller;
    display: block;
    white-space: normal;
    text-overflow: ellipsis;
    overflow-anchor: visible;
    overflow-y: hidden;
}

.execution-stdout {
    color: white !important;
}

.logo-pri {
    fill: #67c52a !important;
}

.logo-sec {
    fill: #999999 !important;
}

.qb-logo-pri {
    fill: #e2e2e2 !important;
}

.qb-logo-sec {
    fill: #333 !important;
}

.cppi-logo-sec {
    fill: #e2e2e2 !important;
}

a {
    color: #45bbe0 !important;
}

.fa, .fas {
    color: white;
}

.close:hover {
    color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

#library-selection .libs-selected-col button {
    color: white;
}

#library-selection .libs-favorites-col button {
    color: white;
}

#library-selection .libs-results-col .lib-fav-button {
    color: white;
}
