@import url("~golden-layout/src/css/goldenlayout-light-theme.css");

body {
    background-color: #FFFFFF;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav li a {
    color: #337ab7;
}

.navbar-default .navbar-nav li a:hover {
    color: #23527c;
}

.navbar-default ul.nav li:hover {
    background-color: #eee;
}

.navbar-nav a.nav-link {
    border: rgb(140,140,140) 1px solid;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5);
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

.lm_header {
    background-color: #f2f2f2;
}

pre.content {
    background-color: #f5f5f5;
}

a.navbar-brand img.logo.inverse {
    display: none !important;
}

a.navbar-brand img.logo.normal {
    display: block !important;
}

.button-checkbox button:disabled {
    background-color: #dae5e0 !important;
    border-color: #aae3e0 !important;
}

.opcode {
    color: #066;
}

.top-bar.btn-toolbar.bg-light {
    border-bottom: 1px solid #d2d3d4;
}

.bottom-bar.bg-light {
    border-top: 1px solid #d2d3d4;
}

.opcode:nth-child(odd) {
    color: #060;
}

.linked-code-decoration {
    background: lightblue;
}

.font-option {
    background: white;
}

.font-option:hover {
    background: lightblue;
}

.font-option-active {
    background: #226699;
}

.font-option-active:hover {
    background: #4477AA;
}

.linked-code-decoration-margin {
    background: lightblue;
}

.modal-content .well {
    border-color: #474747;
}

.notification {
    background-color: cornflowerblue;
}

.notification-info {
    background-color: #f2f2f2;
}

.notification-error {
    background-color: indianred;
    color: white;
}

.notification-on {
    background-color: green;
    color: black;
}

.notification-off {
    background-color: gray;
    color: black;
}

.analysis,
.mixed {
    background: #fdfd96;
}

.passed {
    background: #77dd77;
}

.missed {
    background: #ff6961;
}

.conformance-wrapper {
    background-color: #fff;
}

.graph-placeholder {
    background-color: #FFFFFF;
}

.text-count {
    color: green;
}

.err-count {
    color: red;
}

.commit-entry:nth-child(odd) {
    background-color: #ffffff;
}

.commit-entry:nth-child(even) {
    background-color: #f2f2f2;
}

.popover, .popover-content, .libs-container, .lib-list {
    background-color: #fefefe;
}

.lib-in-use {
    background-color: green;
}

.consent-cookie-yes {
    background-color: #c1e2b3;
}

.consent-cookie-no {
    background-color: #f44336;
    color: #ffffff;
}

#socialshare .share-twitter, .share-twitter {
    background-color: #1da1f2;
    color: white;
}

#socialshare .share-reddit, .share-reddit {
    background-color: #ff4500;
    color: white;
}

.share-disabled {
    color: gray;
}

.community-advert {
    background: #f0f0f0;
    border-color: #67c52a;
}

.navbar-nav a.nav-link:hover {
    background-color: #d8d9da;
}

kbd {
    color: black;
    border-color: #ccc;
    background-color: #f7f7f7;
}

.prepend-options {
    background-color: #e9ecef;
}

#simplecook {
    background-color: #f4f4f4;
}

.new-cookie-msg {
    color: black;
}

div.argmenuitem {
    max-width: 250px;
}

div.argmenuitem span.argtitle {
    font-weight: bold;
    display: block;
    overflow-x: hidden;
    overflow-anchor: visible;
    text-overflow: ellipsis;
}

div.argmenuitem span.argdescription {
    max-height: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-style: italic;
    font-size: smaller;
    display: block;
    white-space: normal;
    text-overflow: ellipsis;
    overflow-anchor: visible;
    overflow-y: hidden;
}

.open-in-cppinsights * {
    vertical-align: middle;
}
