@import url("~golden-layout/src/css/goldenlayout-light-theme.css");

body {
    background-color: #FFFFFF;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav li a {
    color: #337ab7;
}

.navbar-default .navbar-nav li a:hover {
    color: #23527c;
}

.navbar-default ul.nav li:hover {
    background-color: #eee;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5);
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

.lm_header {
    background-color: #f2f2f2;
}

.btn-godbolt {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #e9e9e9;
}

.btn-godbolt:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-godbolt:focus, .btn-godbolt.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-godbolt.disabled, .btn-godbolt:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #e9e9e9;
}

.btn-godbolt:not(:disabled):not(.disabled):active, .btn-godbolt:not(:disabled):not(.disabled).active,
.show > .btn-godbolt.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-godbolt:not(:disabled):not(.disabled):active:focus, .btn-godbolt:not(:disabled):not(.disabled).active:focus,
.show > .btn-godbolt.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.opcode {
    color: #066;
}

.opcode:nth-child(odd) {
    color: #060;
}

.linked-code-decoration {
    background: lightblue;
}

.font-option {
    background: white;
}

.font-option:hover {
    background: lightblue;
}

.font-option-active {
    background: #226699;
}

.font-option-active:hover {
    background: #4477AA;
}

.linked-code-decoration-margin {
    background: lightblue;
}

.modal-content .well {
    border-color: #474747;
}

.notification {
    background-color: cornflowerblue;
}

.notification-info {
    background-color: #f2f2f2;
}

.notification-error {
    background-color: indianred;
    color: white;
}

.notification-on {
    background-color: green;
    color: black;
}

.notification-off {
    background-color: gray;
    color: black;
}

.analysis,
.mixed {
    background: #fdfd96;
}

.passed {
    background: #77dd77;
}

.missed {
    background: #ff6961;
}

.conformance-wrapper {
    background-color: #fff;
}

.graph-placeholder {
    background-color: #FFFFFF;
}

.text-count {
    color: green;
}

.err-count {
    color: red;
}

.commit-entry:nth-child(odd) {
    background-color: #ffffff;
}

.commit-entry:nth-child(even) {
    background-color: #f2f2f2;
}

.popover, .popover-content, .libs-container, .lib-list {
    background-color: #fefefe;
}

.lib-item {
    background-color: #fefefe;
}

.lib-arrow-up {
    border-bottom-color: black;
}

.lib-arrow-up.lib-arrow-used {
    border-bottom-color: green;
}

.lib-arrow-down {
    border-top-color: black;
}

.lib-arrow-down.lib-arrow-used {
    border-top-color: green;
}

.consent-cookie-yes {
    background-color: #c1e2b3;
}

.consent-cookie-no {
    background-color: #f44336;
    color: #ffffff;
}

#socialshare .share-twitter {
    background-color: #1da1f2;
    color: #f5f8fa;
}

#socialshare .share-reddit {
    background-color: #ff4500;
    color: #cee3f8;
}
