@import "~golden-layout/src/css/goldenlayout-light-theme";

/*
 * replace low res golden-layout icons with svg recreations to improve high DPI displays
 * not all icons in golden-layout are used, so we don't replace all of them
 */
.lm_header .lm_tab .lm_close_tab {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23000' d='M.45713 8.5429l-.44426-.44438 3.5955-3.5956L.00697.90152l.8944-.89463 3.6016 3.6015 3.6014-3.6015.88867.88867-3.6014 3.6015 3.6014 3.6015-.89449.89449-3.6015-3.6014-3.5957 3.5956z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_controls .lm_maximise {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23000' d='M0 4.5V0h9v9H0zM8 5V2H1v6h7z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_controls .lm_close {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23000' d='M.45713 8.5429l-.44426-.44438 3.5955-3.5956L.00697.90152l.8944-.89463 3.6016 3.6015 3.6014-3.6015.88867.88867-3.6014 3.6015 3.6014 3.6015-.89449.89449-3.6015-3.6014-3.5957 3.5956z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

.lm_maximised .lm_controls .lm_maximise {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 9'%3E%3Cpath fill='%23000' d='M1.0096 8.0019v-.99809h6.9807v1.9962H1.0096z'/%3E%3C/svg%3E") !important;
    background-size: 9px !important;
}

body {
    background-color: #FFFFFF;
}

.navbar-nav a.nav-link {
    border: rgb(140, 140, 140) 1px solid;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5);
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

.lm_header {
    background-color: #f2f2f2;
}

pre.content {
    background-color: #f5f5f5;
}

pre.content.compiling {
    background-color: #f0f0f0;
}

a.navbar-brand img.logo.inverse {
    display: none !important;
}

a.navbar-brand img.logo.normal {
    display: block !important;
}

.button-checkbox button:disabled {
    background-color: #dae5e0 !important;
    border-color: #aae3e0 !important;
}

.top-bar.btn-toolbar.bg-light {
    border-bottom: 1px solid #d2d3d4;
}

.bottom-bar.bg-light {
    border-top: 1px solid #d2d3d4;
}

.linked-code-decoration {
    background: lightblue;
}

.linked-code-decoration-inline {
    background: lightblue;
}

.linked-code-decoration-line {
    background: lightblue !important;
}

.rainbow-decoration {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(0.00, red),
    color-stop(16%, orange),
    color-stop(32%, yellow),
    color-stop(48%, green),
    color-stop(60%, blue),
    color-stop(76%, indigo),
    color-stop(1.00, violet));
}

.font-option {
    background: white;
}

.font-option:hover {
    background: lightblue;
}

.font-option-active {
    background: #226699;
}

.font-option-active:hover {
    background: #4477AA;
}

.linked-code-decoration-margin {
    background: lightblue;
}

.modal-content .well {
    border-color: #474747;
}

.notification {
    background-color: cornflowerblue;
}

.notification-info {
    background-color: #f2f2f2;
}

.notification-error {
    background-color: indianred;
    color: white;
}

.notification-on {
    background-color: green;
    color: black;
}

.notification-off {
    background-color: gray;
    color: black;
}

.analysis,
.mixed {
    background: #fdfd96;
}

.passed {
    background: #77dd77;
}

.missed {
    background: #ff6961;
}

.conformance-wrapper {
    background-color: #f5f5f5;
}

.graph-placeholder {
    background-color: #FFFFFF;
}

.text-count {
    color: green;
}

.err-count {
    color: red;
}

.commit-entry:nth-child(odd) {
    background-color: #ffffff;
}

.commit-entry:nth-child(even) {
    background-color: #f2f2f2;
}

.popover, .popover-content, .libs-container, .lib-list {
    background-color: #fefefe;
}

.lib-in-use {
    background-color: green;
}

#socialshare .share-twitter, .share-twitter {
    background-color: #1da1f2;
    color: white;
}

#socialshare .share-reddit, .share-reddit {
    background-color: #ff4500;
    color: white;
}

.share-disabled {
    color: gray;
}

.community-advert {
    background: #f0f0f0;
    border-color: #67c52a;
}

.navbar-nav a.nav-link:hover {
    background-color: #d8d9da;
}

kbd {
    color: black;
    border-color: #ccc;
    background-color: #f7f7f7;
}

.prepend-options {
    background-color: #e9ecef;
}

#simplecook {
    background-color: #f4f4f4;
}

.new-cookie-msg {
    color: black;
}

div.argmenuitem {
    max-width: 250px;
}

div.argmenuitem span.argtitle {
    font-weight: bold;
    display: block;
    overflow-x: hidden;
    overflow-anchor: visible;
    text-overflow: ellipsis;
}

div.argmenuitem span.argdescription {
    max-height: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-style: italic;
    font-size: smaller;
    display: block;
    white-space: normal;
    text-overflow: ellipsis;
    overflow-anchor: visible;
    overflow-y: hidden;
}

.execution-stdout {
    color: black;
}

.linked-compiler-output-line {
    color: #007bfd;
}

.logo-pri {
    fill: #67c52a;
}

.logo-sec {
    fill: #3c3c3f;
}

.copy-link-btn:hover {
    color: #007bfd;
}

.conformance-wrapper .compiler-list .form-row {
    border-bottom: 1px solid #e3e3e3;
}

.toggle-fav {
    color: #6c757d; // text-muted
}

.fas.fav {
    color: #e3cf7a;
}

.lm_header .lm_tab:last-child {
    border-bottom: 1px solid #ccc !important;
}
