@import url("../ext/golden-layout/src/css/goldenlayout-light-theme.css");

.navbar-inverse {
    background-color: #226;
}

.navbar-inverse .navbar-brand {
    color: #ddd !important;
}

.float-link {
    background-color: rgba(128, 128, 128, 0.5) !important;
}

.float-link:hover {
    background-color: rgba(128, 128, 160, 0.5);
}

/*.btn {
    color:  !important;
    border-color: !important;
    background-color:  !important;
}   USING DEFAULT*/

.btn.active {
    color: #fff !important;
    border-color: #46b8da !important;
    background-color: #5bc0de !important;
}

.opcode {
    color: #066 !important;
}

.opcode:nth-child(odd) {
    color: #060;
}

.highlighted {
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: #0000b0 !important;
}

.linked-code-decoration {
    background: lightblue !important;
}

/*.dropdown-menu {
    color: ;
    background-color: ;
}  

.selectize-dropdown {
    color: !important;
    background-color: !important;
} USING DEFAULT*/

.font-option {
    background: white;
}

.font-option:hover {
    background: lightblue;
}

.font-option-active {
    background: #226699 !important;
}

.font-option-active:hover {
    background: #4477AA !important;
}

.notification {
    background-color: cornflowerblue;
}

.notification-error {
    background-color: indianred !important;
    color: white;
}

.notification-on {
    background-color: green !important;
    color: black;
}

.notification-off {
    background-color: gray !important;
    color: black;
}

/*.divider {
    background-color: !important;
} USING DEFAULT*/

/* Colours.css should be customized where needed */