# This workflow will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see: https://github.com/actions/labeler/blob/master/README.md

name: Labeler
on:
  - pull_request_target

jobs:
  label:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/labeler@v3
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
